* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    /* padding: 0 400px; */
}

.header {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    border-bottom: 1px solid #cdcdcd;
}

.logo {
    width: 100px;
    height: fit-content;
    margin-right: auto;

    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
}

.bar {
    font-size: 15px;

    padding: 15px;
}

.bar a {
    margin-right: 20px;
    text-decoration: none;

    color: #494b7c;
    font-size: 16px;
    font-weight: bold;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 20%;

    border-radius: 20px;
    background-color: #ececec;
    padding: 16px;
}

.login a {
    /* 가상요소 쓰기 위한 포지션설정 */
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 800;
    color: #959595;
    font-size: 16px;
}

.login a::after {
    position: absolute;
    content: "|";
    font-weight: 800;
    padding-left: 8px;
}

/* 로그인 nav의 a태그의 마지막요소에 마진적용제거 */
.login a:first-child {
    margin-left: 0;
}

/* 가상요소after의 마지막요소 없애기 */
.login a:last-child::after {
    content: none;
    padding: 0;
}

hr {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    border: 0px;
    border-top: 2px solid #4D54A5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}

.titleBox {
    margin: auto;
    width: 60%;
}

.flexBox{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.title {
    margin-top: 30px;
    text-align: center;
    color: #676767;
}

main {
    width: 100%;
    padding: 0 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.box {
    width: fit-content;
}

.userInfo {
    display: flex;
    margin-right: auto;
    margin-bottom: 50px;
    align-items: center;
    /* border: 1px solid red; */
}

.center {

    text-align: center;
    width: 600px;
    /* margin: auto; */
}

.aing {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.button{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.buttonOne{
    background-color: white;
    width: 250px;
    height: 60px;
    border-radius: 0.7em;
    border-width: 1px;
    
}

.buttonOne:hover {

    background-color: #d6d6d6;

  }

.Additional {
    border: 1px solid #676767;
    width: 130px;
    height: 160px;
    border-radius: 1em;
}

.room {
    margin-top: 40px;
    width: 600px;
    height: 400px;
    border: 1px solid #676767;
    resize: none;
}