footer {
	
	border-top: 1px solid #ebebeb;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 50px 40px;
}

.servicetime {
	padding-top: 8px;
	color: rgba(34, 34, 34, .5);
	font-size: 13px;
	line-height: 20px;
	max-width: 263px;
}

.footerMain {
	display: inline-flex;
}

.footerMainItem {
	margin-right: 1.6rem;
}

ul,
.btnSns,
.information,
.customerService {
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 40px;
}

ul{
	list-style: none;
}
a {
	text-decoration: none;
	color: #2d2d2d;
}

.btnSns i {
	font-size: 30px;
	color: #4b4eba;
	cursor: pointer;
	margin-right: 1.6rem;
}

.btnSns i:hover {
	opacity: 0.7;
}

.information {
	color: rgba(34, 34, 34, .5);
	font-size: 13px;
	line-height: 20px;
	max-width: 500px;
}

strong,
b {
	font-weight: 700;
}