header {

	width: 100%;
	height: 10vh;


	border-bottom: 1px solid #ebebeb;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 3;

	background-color: white;
}

.header_fixed {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;

	display: flex;
	flex-direction: column;
}

.header_topItem {
	height: 20px;
	padding: 0 40px;
}

.header_mainItem {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: space-between;
	min-width: 320px;
	padding: 10px 40px;
}

.logo {
	width: 130px;
	height: fit-content;
	margin-right: auto;

	cursor: pointer;
}

.logo img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.loginbar,
.headerbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
}

.loginItem {
	margin-right: 1.6rem;
	font-size: 13px;
}


.headerItem{
	margin-right: 1.6rem;
	font-size: 18px;
}




/* 브라우저 너비가 625px 이상일 때*/
@media screen and (min-width: 625px){
	.headerHamburger{
		display: none;
	}
}

/* 브라우저 너비가 625px 이하일 때*/
@media screen and (max-width: 625px){
	.loginbar{
		display: none;
	}
	.headerItem{
		display: none;
	}
	.headerHamburger{
		display: block;
	}
}