<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.wesely.dao.BusinessDAO">

	<!-- 저장하기 : 사업자 정보 저장 -->
	<insert id="insert" parameterType="MemberVO">
		insert into bmember
		(idx, ref, bno, bname, store)
		values
		(bmember_id_seq.nextval, #{ref}, #{bno}, #{bname}, #{store})
	</insert>
	
	
	<!-- 동일한 사업자번호 개수세기 : 사업자번호 중복 확인 -->
	<select id="selectCountByBno" parameterType="string" resultType="int">
		select count(*) from bmember where bno=#{bno}
	</select>
	
</mapper>