<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.wesely.dao.MemberDAO">

	<!-- 저장하기 : 회원 가입 -->
	<insert id="insert" parameterType="MemberVO">
		insert into wmember
		(idx, userid, password, username, nickname, email, phone)
		values
		(wmember_idx_seq.nextval, #{userid}, #{password}, #{username}, #{nickname}, #{email}, #{phone})
	</insert>
	
	<!-- 수정하기 : 회원 별명 수정 -->
	<update id="updateNickname"  parameterType="MemberVO">
		update 
			wmember 
		set
			nickname = #{nickname}
		where
			userid=#{userid}
	</update>
	
	<!-- 수정하기 : 비밀번호 수정 -->
	<update id="updatePassword"  parameterType="MemberVO">
		update 
			wmember 
		set
			password = #{password}
		where
			userid=#{userid}
	</update>
	
	<!-- 삭제하기 : 회원 탈퇴 -->
	<delete id="delete" parameterType="int">
		delete from wmember where idx=#{idx}
	</delete>
	
	
	
	<!-- 1개얻기하기 : 수정/삭제/로그인 -->
	<select  id="selectByIdx" parameterType="int" resultType="MemberVO">
		select * from wmember where idx=#{idx}
	</select>
	
	<!-- 개수 얻기 : 관리자모드 -->
	<select id="selectCount" resultType="int">
		select count(*) from wmember
	</select>

	<!-- 모두 얻기 : 관리자모드 -->
	<select id="selectAll" resultType="MemberVO">
		select * from wmember order by idx desc
	</select>
	
	
	<!-- 동일한 아이디 개수세기 : 아이디 중복 확인 -->
	<select id="selectCountByUserid" parameterType="string" resultType="int">
		select count(*) from wmember where userid=#{userid}
	</select>
	
	<!-- 동일한 별명 개수세기 : 별명 중복 확인 -->
	<select id="selectCountByNickname" parameterType="string" resultType="int">
		select count(*) from wmember where nickname=#{nickname}
	</select>
	
	<!-- 동일한 전화번호 개수세기 : 전화번호 중복 확인 -->
	<select id="selectCountByPhone" parameterType="string" resultType="int">
		select count(*) from wmember where phone=#{phone}
	</select>
	
	
	<!-- 아이디로 찾기 -->
	<select id="selectByUserid" parameterType="string" resultType="MemberVO">
		select * from wmember where userid=#{userid}
	</select>
	
	<!-- 이름으로 찾기 -->
	<select id="selectByUsername" parameterType="string" resultType="MemberVO">
		select * from wmember where username=#{username}
	</select>
	
	<!-- 연락처로 찾기 -->
	<select id="selectByPhone" parameterType="string" resultType="MemberVO">
		select * from wmember where phone=#{phone}
	</select>
	
	<!-- 별명으로 찾기 -->
	<select id="selectByNickname" parameterType="string" resultType="MemberVO">
		select * from wmember where phone=#{phone}
	</select>

	
</mapper>