<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>wesely</title>
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/business/createStore.css" />
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		$(document).ready(function () {
			var fullAddress = $('#address').val();
			var addressParts = fullAddress.split(',');

			// 팝업 주소 설정
			if (addressParts.length > 0) {
				$('#addressClick').val(addressParts[0]);
			}

			// 상세 주소 설정
			if (addressParts.length > 1) {
				$('#detailAddress').val(addressParts[1]);
				$("#detailAddress").removeClass('not');
				$("#detailAddress").removeAttr('disabled');
			}
		});
	</script>

	<script>
		function deleteImage(inputId, labelId) {
			// delList 필드에 삭제할 이미지의 ID를 추가합니다.
			var imgId = $('#' + labelId).data('img-id');
			var currentDelList = $('#delList').val();
			if (currentDelList.length > 0) {
				currentDelList += ',';
			}
			currentDelList += imgId;

			$('#delList').val(currentDelList);

			// 해당 label 요소를 찾아서 대체합니다.
			var newInput = $('<input>')
				.attr('type', 'file')
				.attr('name', 'uploadFile')
				.attr('id', inputId);  // input 태그에 id 값을 부여

			// iorder value는 기존 label의 iorder 값과 동일하게 설정합니다.
			var iorderValue = $('#' + labelId).find('[name="iorder"]').val();
			var newIOrderInput = $('<input>')
				.attr('type', 'hidden')
				.attr('name', 'iorder')
				.removeAttr('disabled')
				.val(iorderValue);

			$('#' + labelId).empty().append(newInput, newIOrderInput);
		}
	</script>


	<script>
		function checkInput(input) {
			if (input.val().trim() === '') {  // 입력값이 없을 경우
				input.removeClass('off');
				input.addClass('on');

				return false;

			} else {  // 그렇지 않으면
				input.removeClass('on');
				input.addClass('off');  // 경고 보더 숨기기
				return true;
			}
		}

		function formCheck() {
			let isValid = true;
			// 입력 필드 값 변경 시
			$('.requiredData').change(function () {
				checkInput($(this));
			});
			// 모든 입력 필드에 대하여
			$('.requiredData').each(function () {
				if (!checkInput($(this))) {  // 만약 현재 입력 필드의 값이 비어있다면
					isValid = false;  // 전체 폼의 유효성을 '무효'로 설정
				}
			});

			let value = $("#storeImges1").val();
			let requiredImg = $('#img1').length > 0 ? $('#img1').attr('src') : null;
			if (value == null || value.trim().length == 0) { // 첫번째 이미지 input val이 없을때
				if (requiredImg && requiredImg.trim().length > 0) { // 첫번째 기존 이미지가 있다면
					return true; //통과
				}
				else {
					alert('첫번째 이미지는 필수등록입니다. 썸네일로 들어갈 이미지를 선택해주세요.'); // 경고
					$(".label").first().removeClass('off');
					$(".label").first().addClass('on');
					return false;   // 전송 취소
				}
			} else if (value !== null || value.trim().length > 0) { //첫번째 이미지 input val 있을 때
				$(".label").first().removeClass('on');
				$(".label").first().addClass('off');
			}

			if (!isValid) {  // 만약 전체 폼의 유효성이 '무효'라면
				alert('필수입력란을 확인해주세요.');  // 경고 메시지 출력
				return false;  // 폼 제출 취소
			}

			return true;
		}

		function updateAddress() {
			// #popupAddress와 #detailAddress의 value를 가져온다.
			var popupAddress = $('#addressClick').val();
			var detailAddress = $('#detailAddress').val();

			// 두 주소 값을 합친다.
			var fullAddress = popupAddress + ', ' + detailAddress;

			// 합친 주소 값을 #address에 설정한다.
			$('#address').val(fullAddress);
		}
	</script>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="hello">
				<th:block th:if="${session.mvo != null}">
					<!-- 별명을 설정하지 않은 회원은 아이디로 표시된다. -->
					<span>[[${session.mvo.nickname}]] </span> 님 환영합니다.
				</th:block>
			</nav>

			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '일반계정'}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '비즈니스계정'}">
					<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
					<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>
			</nav>
		</header>

		<!-- 👇여기부터 시설상세페이지 -->
		<main>
			<form action="/business/updateOk" onsubmit="return formCheck()" method="post" enctype="multipart/form-data">
				<div class="fileWrapper">
					<p class="titleText required">매장 사진<span class="subText">매장사진은 한 장이 필수등록이며 첫번째 사진이 썸네일로
							적용됩니다.</span></p>

					<!-- 각각의 이미지에 대해 '삭제' 버튼과 함께 id값을 부여한 file input과 label을 생성합니다. -->
					<th:block th:each="num : ${#numbers.sequence(1, 4)}">
						<th:block th:each="img : ${st.imgList}" th:if="${img.iorder == num}">
							<label class="label off" th:id="'label' + ${num}" th:for="'storeImges' + ${num}"
								th:data-img-id="${img.id}">

								<!-- 기존 이미지 삭제버튼 -->
								<button type="button" class="btnFileDelete"
									th:onclick="'deleteImage(\'storeImges' + ${num} + '\', \'label' + ${num} + '\');'">
									삭제
								</button>

								<input type="hidden" name="iorder" th:value="${img.iorder}" disabled />

								<div>
									<img class="fileImg" th:id="'img' + ${num}"
										th:src='|/static/images/upload/${img.uuid}_${img.fileName}|' alt="기존이미지">
								</div>
							</label>
						</th:block>

						<!-- 해당 iorder 값이 imgList에 없으면 비어있는 input 태그 출력 -->
						<th:block th:if="${#lists.contains(st.imgList.![iorder], num) == false}">
							<label class="label off" th:for="'storeImges' + ${num}" th:id='|label${num}|'>
								<input th:id='|storeImges${num}|' type="file" name="uploadFile"
									class="uploadFile"></input>
								<!-- 숨겨진 입력 필드를 추가하여 이미지 순서 정보를 저장합니다. -->
								<input type="hidden" name="iorder" th:value='${num}' />
							</label>
						</th:block>
					</th:block>

				</div>
				<!-- 삭제할 이미지 -->
				<input type="hidden" name="delList" id="delList" size="100" />
				<!-- 유저 아이디 -->
				<input id="userid" th:unless="${session.mvo.nickname == null}" th:value="${session.mvo.userid}"
					type="hidden" name="userid" />
				<!-- STORE 아이디 -->
				<input id="id" th:value="${st.id}" type="hidden" name="id" />
				<!-- 시설 위치 담기 -->
				<input class="addText" id="region" type="hidden" name="region" th:value="${st.region}">

				<p class="titleText required">매장 이름</p>
				<input class="requiredData addText off" id="name" type="text" placeholder="매장이름" name="name"
					th:value="${st.name}">

				<p class="titleText required">매장 주소<span class="wranText">(필수)</span></p>
				<!-- hidden : 조합된 주소데이터 -->
				<input class="requiredData addText off" id="address" type="hidden" name="address"
					th:value="${st.address}">
				<!-- 카카오우편주소 api 팝업버튼 -->
				<input class="popupAddress off" type="button" id="addressClick" onclick="clickAddress()">
				<!-- 상세주소 -->
				<input class="requiredData off detailAddress not" id="detailAddress" type="text" name="detailAddress"
					onchange="updateAddress()" disabled>

				<p class="titleText required">해쉬태그</p>
				<input class="requiredData addText off" id="hashTag" type="text" placeholder="해쉬태그" name="hashTag"
					th:value="${st.hashTag}">
				<p class="titleText">매장 운영시간</p>
				<input class="addText off" id="opening" type="text" placeholder="매장운영시간" name="opening"
					th:value="${st.opening}">
				<p class="titleText required">매장 전화번호</p>
				<input class="requiredData addText off" id="tel" type="text" placeholder="매장전화번호" name="tel"
					th:value="${st.tel}">
				<p class="titleText">매장 소개</p>
				<input class="addTextDes off" id="dec" type="text" placeholder="매장설명" name="description"
					th:value="${st.description}">
				<div class="modalBtn">
					<input class="btnCancle" type="button" value="취소" th:onclick="location.href='/'"></input>
					<input class="btnAdd" type="submit" value="수정"></input>
				</div>
			</form>
		</main>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
			function clickAddress() {
				//팝업 위치를 지정(화면의 가운데 정렬)
				var width = 500; //팝업의 너비
				var height = 600; //팝업의 높이

				new daum.Postcode({
					width: width, //생성자에 크기 값을 명시적으로 지정해야 합니다.
					height: height,
					oncomplete: function (data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
						// 예제를 참고하여 다양한 활용법을 확인해 보세요.
						var addr = ''; // 주소 변수
						var extraAddr = ''; // 참고항목 변수
						//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
						if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
							if (data.jibunAddress === "") { // 맵핑된 것들이 여러개여서 정확한 값을 가져오지 못한 경우
								addr = data.autoJibunAddress; // 자동으로 들어가게 하기
							} else {
								addr = data.jibunAddress;
							}
						} else { // 사용자가 지번 주소를 선택했을 경우(J)
							addr = data.jibunAddress;
						}

						var partAddr = addr.split(' ');
						
						$("#region").val(partAddr[1] + partAddr[2]);
						// 주소 담기
						$("#addressClick").val(addr);
						// disabled 풀어주고 css 적용하기
						$("#detailAddress").removeClass('not');
						$("#detailAddress").removeAttr('disabled');
						// 커서를 상세주소 필드로 이동한다.
						$("#detailAddress").focus();
						updateAddress();
					}
				}).open({
					left: (window.screen.width / 2) - (width / 2),
					top: (window.screen.height / 2) - (height / 2)
				});
			}
		</script>
</body>

</html>