<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>wesely</title>
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/business/createStore.css" />
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		function deleteImage(inputId, labelId) {
			// delList 필드에 삭제할 이미지의 ID를 추가합니다.
			var imgId = $('#' + labelId).data('img-id');
			var currentDelList = $('#delList').val();
			if (currentDelList.length > 0) {
				currentDelList += ',';
			}
			currentDelList += imgId;

			$('#delList').val(currentDelList);

			alert($('#delList').val());

			// 해당 이미지와 관련된 input 필드와 label을 제거합니다.
			$('#' + inputId).remove();
			$('#' + labelId).remove();

			// 새로운 file input 필드를 추가합니다.
			var newInput = $('<input>')
				.attr('type', 'file')
				.attr('name', 'uploadFile');

			$('.fileWrapper').append(newInput);
		}
	</script>



	<!-- Scripts -->
	<script scr="javascript">
		function formCheck() {
			let hasImage = false;
			$('input[type="file"]').each(function () {
				if ($(this).val()) {
					hasImage = true;
					return false; // break the loop
				}
			});

			if (!hasImage) {
				alert('이미지는 반드시 입력해야 합니다.');
				return false;
			}
			
			
			value = $(".addText").val(); // 내용 얻고
			if (value == null || value.trim().length == 0) { // 없거나 빈칸들로만  입력되었다면
				alert('내용은 반드시 입력해야 합니다.'); // 경고

				return false;   // 전송 취소
			}
			return true;
		}
	</script>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '일반계정'}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '비즈니스계정'}">
					<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
					<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>
			</nav>
		</header>

		<!-- 👇여기부터 시설상세페이지 -->
		<main>
			<form action="/business/updateOk" onsubmit="return formCheck()" method="post" enctype="multipart/form-data">
				<div class="fileWrapper">
					<p class="titleText required">매장 사진<span class="subText"> 첫번째는 필수등록이며, 썸네일로 적용됩니다.</span></p>

					<!-- 각각의 이미지에 대해 '삭제' 버튼과 함께 id 값을 부여한 file input과 label을 생성합니다. -->
					<th:block th:each="img, vs : ${st.imgList}">
						<label class="addImgItem" th:id="'label' + ${vs.count}" th:for="'storeImges' + ${vs.count}"
							th:data-img-id="${img.id}">
							<input type="file" th:id="'storeImges' + ${vs.count}" class="inputFile" name="uploadFile">

							<!--삭제버튼-->
							<button type="button"
								th:onclick="'deleteImage(\'storeImges' + ${vs.count} + '\', \'label' + ${vs.count} + '\');'">삭제</button>

							<span th:text="${img.fileName}"></span>
							<div>
								<img th:id="'img' + ${vs.count}" class="fileImg on"
									th:src='|/static/images/upload/${img.uuid}_${img.fileName}|'>
							</div>
						</label>
					</th:block>

					<th:block th:if="${#lists.size(st.imgList)<4}">
						<th:block th:each="num : ${#numbers.sequence(#lists.size(st.imgList)+1, 4)}">
							<label class="addImgItem" for="'storeImges' + ${num}">
								<input id="'storeImges' + ${num}" type="file" name="uploadFile">
								<!-- 원하는 내용을 추가하세요 -->
								</input>
							</label>
						</th:block>
					</th:block>
				</div>

				<input type="hidden" name="delList" id="delList" size="100" />
				<input th:if="${session.mvo.nickname == null}" type="text" th:value="${session.mvo.username}"
					disabled />
				<input id="userid" th:unless="${session.mvo.nickname == null}" th:value="${session.mvo.userid}"
					type="hidden" name="userid" />
				<input id="id" th:value="${st.id}" type="hidden" name="id" />

				<p class="titleText required">매장 이름</p>
				<input class="addText" id="name" type="text" placeholder="매장이름" name="name" th:value="${st.name}">
				<p class="titleText required">매장 주소</p>
				<input class="addText" id="address" type="text" placeholder="매장주소" name="address"
					th:value="${st.address}">
				<p class="titleText">해쉬태그</p>
				<input class="addText" id="hashTag" type="text" placeholder="해쉬태그" name="hashTag"
					th:value="${st.hashTag}">
				<p class="titleText">매장 운영시간</p>
				<input class="addText" id="opening" type="text" placeholder="매장운영시간" name="opening"
					th:value="${st.opening}">
				<p class="titleText required">매장 전화번호</p>
				<input class="addText" id="tel" type="text" placeholder="매장전화번호" name="tel" th:value="${st.tel}">
				<p class="titleText">매장 소개(설명)</p>
				<input class="addTextDes" id="dec" type="text" placeholder="매장설명" name="description"
					th:value="${st.description}">
				<div class="modalBtn">
					<input class="btnCancle" type="button" value="취소" th:onclick="location.href='/'"></input>
					<input class="btnAdd" type="submit" value="등록"></input>
				</div>
			</form>
		</main>
</body>

</html>