li {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;

	margin: 0 auto;

	width: 1000px;
}

.slide {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 320px;
}

.slide__list {
	display: flex;
	width: fit-content;
	height: 100%;
}

.slide__item {
	display: flex;
	width: 1000px;
	height: 100%;
}

.slideImg {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.buttons {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 0 10px;
}

.buttons__prev,
.buttons__next {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	color: #686868;
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.buttons__prev:hover,
.buttons__next:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
}

.paginations {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.pagination {
	width: 12px;
	height: 12px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

.pagination:not(:last-child) {
	margin-right: 0.3rem;
}

.pagination.on {
	background: rgba(0, 0, 0, 0.5);
}

.storeContent {
	position: relative;
	width: 100%;
}

.storeTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 30px 0;
	font-size: 18px;
}

/* 인덱스 볼 있는곳 밀어넣기 */
.storeInfo {
	padding-left: 15px;
	height: 400px;
}

.description {
	width: 60%;
}

.liBox {
	position: relative;
	border: 1px solid red;
}

.space {
	margin-left: 20px;
}

.indexBall {
	position: relative;
	margin-bottom: 20px;
	font-size: 16px;
}

.indexBall.flex {
	display: flex;
}

.indexBall::before {
	content: "";

	position: absolute;
	top: 10px;
	left: -16px;
	transform: translateY(-50%);

	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #f0c648;
}

.mapImg {
	position: absolute;
	top: 80px;
	right: 0;

	width: 36%;
	height: 400px;
}

.sysBtn {
	display: flex;
	justify-content: space-between;
	width: 40%;

}

.sysBtn button {
	width: 49%;
	padding: 12px 0;

	color: #4b4eba;
	background-color: #fff;
	border: 1px solid #4b4eba;
	border-radius: 8px;
	cursor: pointer;

	transition: all ease-out 250ms;
}

.sysBtn button:hover {
	background-color: #4b4eba;
	color: #fff;
}

.line {
	width: 100%;
	height: 1.4px;
	margin: 30px 0 20px 0;
	background-color: #494b7c;
}

.storeReview {
	width: 100%;

}

.storeReviewTitleBox {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 20px;
}

.storeReviewTitleBox div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

#totalReview {
	margin-left: 12px;
	font-size: 16px;
	color: #686868;
}

.storeReviewTitleBox button {
	border: none;
	background-color: #4b4eba;
	color: #fff;

	width: 130px;
	padding: 10px;
	border-radius: 8px;

	font-size: 14px;
	font-weight: 800;

	cursor: pointer;
	transition: opacity 150ms ease-in-out;
}

.storeReviewTitleBox button:hover {
	opacity: 0.8;
}

.reviewBox {
	display: flex;
	justify-content: start;
	align-items: start;

	width: 100%;

	margin-top: 20px;
}

.userInfo {
	display: flex;
	align-items: center;

	width: 260px;
	font-size: 16px;
}

.userInfo span {
	color: #686868;
	font-weight: 600;
}

.userInfo img {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-right: 6px;
}

.reviewContent {
	display: flex;
	flex-direction: column;

	width: calc(100% - 260px);
	margin-top: 7px;

	text-align: start;
	font-size: 16px;
	color: #686868;

	/* word-break: div 영역에 맞추어 자동 줄바꿈 */
	word-break: break-all;
}

.recontent {
	/* pre-wrap: 스페이스&탭&줄바꿈 보존됨, 크기에 넘어가면 자동 줄바꿈 */
	white-space: pre-wrap;
	margin-bottom: 10px;
	line-height: 22px;
}

.time {
	font-size: 14px;
	font-weight: 300;
}

.star {
	margin-bottom: 14px;
}

.bottomBtn {
	margin-top: 20px;
}

.bottomBtn button {
	width: 36px;
	height: 36px;

	background-color: #fff;
	color: #494b7c;
	border-radius: 50%;
	border: 1px solid #494b7c;

	cursor: pointer;
}

.bottomBtn i {
	font-size: 16px;
}

.bottomBtn button:hover {
	color: #fff;
	background-color: #4b4eba;
}

.reviewModal {
	display: none;
}

.reviewModal.on {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 500px;
	height: 500px;

	color: #686868;
	background-color: #fff;
	padding: 35px;
	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#reviewForm {
	width: 100%;
	height: 100%;


	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.stars {
	display: flex;
	align-items: center;
	gap: 25px;

	margin: 10px 0;
}

.stars i {
	color: #cdcdcd;
	font-size: 35px;
	cursor: pointer;
	transition: color 350ms ease;
}

.stars i.active {
	color: #f0c648;
}


.reviewTextBox {
	width: 100%;
	height: 60%;
	font-size: 14px;
	resize: none;
	outline: none;
	padding: 14px;
	border: 1px solid #686868;
}

.noReviews {
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	color: #686868;
}

.modalBtn {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modalBtn button,
input {
	width: 48%;
	padding: 12px 0;

	color: #4b4eba;
	background-color: #fff;
	border: 1px solid #4b4eba;
	border-radius: 8px;
	cursor: pointer;

	transition: all ease-out 250ms;
}

.modalBtn button:hover {
	background-color: #4b4eba;
	color: #fff;
}

.modalBtn input:hover {
	background-color: #4b4eba;
	color: #fff;
}

.overlay {
	display: none;
}

.overlay.on {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 0;

	display: block;

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
}