a {
	text-decoration: none;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 400px;
}

.mainList {
	width: 100%;
}

.mainTitle {
	width: 100%;
}

.mainTextBox {
	padding: 40px 0;
	text-align: center;
}

.mainTextBox h2 {
	color: #3b3b3b;
	font-size: 30px;
}

.mainTextBox p {
	font-size: 16px;
	font-weight: 500;
	color: #3b3b3b;
	margin-top: 20px;
}

.line {
	width: 100%;
	height: 1px;
	margin-top: 20px;
	background-color: #494b7c;
}

.mainIconBox {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 30px 0;
}

.currentPlace {
	display: flex;
	align-items: center;

	font-size: 14px;
	color: #676767;
}

.currentPlace img {
	width: 24px;
	margin-right: 20px;
}


.searchBtn button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;

	font-size: 14px;
	font-weight: 500;

	padding: 10px;
	border: 1px solid #aaaaaa;
	background-color: #fff;
	cursor: pointer;
	border-radius: 8px;

	transition: all 250ms ease;
}

.searchBtn button:hover {
	border-color: #4b4eba;
	color: #4b4eba;
}

.mainContent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	width: 100%;

}

.placeItem {
	height: 410px;
	cursor: pointer;
}

.hoverImgBox {
	height: 76%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid #cdcdcd;
}

.hoverImgBox img {
	width: 100%;
	height: 100%;
	transition: scale ease-in-out 250ms;
}

.placeItem:hover .hoverImgBox img {
	scale: 1.05;
}

.placeTextBox {
	display: flex;
	flex-direction: column;
}

.storeTitle {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	font-weight: 800;
	color: #3b3b3b;
}

.storeLocation {
	color: #3b3b3b;
}

.hashTagList {
	display: flex;
	margin-top: 10px;
}

.hashTagList p {
	color: #aaaaaa;
	padding-right: 5px;
}

.btnSeeMore {
	width: 200px;

	margin: 40px 0;
	padding: 10px;

	background-color: #fff;
	font-size: 16px;

	border: 1px solid #494b7c;
	border-radius: 20px;
	cursor: pointer;
}

i {
	font-size: 14px;
}

.btnSeeMore:hover {
	background-color: #494b7c;
	color: #fff;
}