* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 100%;
}

.header {
	width: 100%;
	height: 60px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 30px;
	border-bottom: 1px solid #cdcdcd;
}

.logo {
	width: 100px;
	height: fit-content;
	margin-right: auto;

	cursor: pointer;
}

.logo img {
	width: 100%;
	height: 100%;
}

.bar {
	font-size: 15px;
	padding: 15px;
}

.bar a {
	margin-right: 20px;
	text-decoration: none;

	color: #494b7c;
	font-size: 16px;
	font-weight: 800;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	height: 20%;

	border-radius: 20px;
	background-color: #ececec;
	padding: 16px;
}

.login a {
	/* 가상요소 쓰기 위한 포지션설정 */
	position: relative;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 800;
	color: #959595;
	font-size: 16px;
}

.login a::after {
	position: absolute;
	content: "|";
	font-weight: 800;
	padding-left: 8px;
}

/* 로그인 nav의 a태그의 마지막요소에 마진적용제거 */
.login a:first-child {
	margin-left: 0;
}

/* 가상요소after의 마지막요소 없애기 */
.login a:last-child::after {
	content: none;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 400px;
}

.mainList {
	/* border: 1px solid blue; */
}

.mainTitle {
	width: 100%;
}

.mainTextBox {
	padding: 40px 0;
	text-align: center;
}

.mainTextBox h2 {
	color: #3b3b3b;
	font-size: 30px;
}

.mainTextBox p {
	font-size: 16px;
	font-weight: 500;
	color: #3b3b3b;
	margin-top: 20px;
}

.line {
	width: 100%;
	height: 1px;
	margin-top: 20px;
	background-color: #494b7c;
}

.mainIconBox {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 30px;
}

.currentPlace {
	display: flex;
	align-items: center;

	font-size: 14px;
	color: #676767;
}

.currentPlace img {
	width: 24px;
	margin-right: 20px;
}

.searchBtn {
	width: fit-content;
	display: flex;
	align-items: center;
}

.searchBtn button {
	width: 300px;
	text-align: left;
	padding: 10px;
	border: 1px solid #aaaaaa;
	background-color: #fff;
	cursor: pointer;
	border-radius: 8px;
	margin-right: 5px;
}

.mainContent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	width: 100%;
}

.placeItem {
	height: 400px;
	cursor: pointer;
}

.hoverImgBox {
	height: 74%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid #cdcdcd;
}

.hoverImgBox img {
	width: 100%;
	height: 100%;
	transition: scale ease-in-out 250ms;
}

.placeItem:hover .hoverImgBox img {
	scale: 1.05;
}

.placeTextBox {
	display: flex;
	flex-direction: column;
}

.storeTitle {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	font-weight: 800;
	color: #3b3b3b;
}

.storeLocation {
	color: #3b3b3b;
}

.hashTagList {
	display: flex;
	margin-top: 10px;
}

.hashTagList p {
	color: #aaaaaa;
	padding-right: 5px;
}

.btnSeeMore {
	width: 200px;

	margin: 40px 0;
	padding: 10px;

	background-color: #fff;
	font-size: 16px;

	border: 1px solid #494b7c;
	border-radius: 20px;
	cursor: pointer;
}

i {
	font-size: 14px;
}

.btnSeeMore:hover {
	background-color: #494b7c;
	color: #fff;
}

