<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기 페이지</title>

	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/member/find.css" />

	<script>
		function formCheck() {
			let value = $("#username").val();
			if (value == null || value.trim().length == 0) {
				alert("사용자이름은 반드시 입력해야 합니다.");
				$("#userid").val("");
				$("#userid").focus();
				return false;
			}

			value = $("#phone").val();
			if (value == null || value.trim().length == 0) {
				alert("가입시 전화번호는 반드시 입력해야 합니다.");
				$("#phone").val("");
				$("#phone").focus();
				return false;
			}
			return true;
		}

	</script>
</head>

<body>

	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<a href="/member/login"><strong>로그인</strong></a>
				<a href="/member/join"><strong>회원가입</strong></a>
				<a href="/"><strong>비즈니스 계정</strong></a>
			</nav>
		</header>


		<main>
			<div id="wrap">
				<form action="/member/findUserIdOk" method="post" onsubmit="return formCheck()">
					<div class="image">
						<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">
					</div>
					<div class="title">아이디 찾기</div>

					<div class="content">
						가입 시 입력하신 이름과 전화번호를 입력해주세요.
					</div>
					<div>
						<input type="text" id="username" name="username" placeholder="이름" />
					</div>
					<div>
						<input type="text" id="phone" name="phone" placeholder="전화번호" />
					</div>
					<div class="btn">
						<input type="submit" value="아이디찾기" class="findIdBtn" />
					</div>
				</form>
			</div>
		</main>

</body>

</html>