<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기 페이지</title>

	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/member/find.css" />
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>

	<script>
		$(function () {

			// 사용자 이름
			$("#username").on("blur", function () {
				var username = $(this).val();

				if (username != null) {
					$("#nameMsg").html("");
				} else {
					$("#nameMsg	").html("&#9888; 사용자 이름을 입력해주세요.").css('color', 'red');
					return false;
				}
			});
			// 전화번호검사
			$('#phone').on("blur", function () {
				var value = $(this).val();
				var regphone = /^01([0|1|6|7|8|9])([0-9]{4})([0-9]{4})$/;

				// 전화번호가 1글자 이상 입력되었을 경우
				if (value != null && value.length >= 1) {
					if (!regphone.test(value)) {
						$("#phoneMsg").css('color', 'red').html("&#9888; 잘못된 전화번호를 입력하였습니다. 다시 입력해주세요.");
						return false;
					} else {
						$("#phoneMsg").html("").css('color', 'green');
					}
				} else {
					$("#phoneMsg").html("");
				}
			});

		});

		function formCheck() {
			if ($("#username").val() == null || $("#username").val().trim().length == 0) {
				$("#username").focus();
				$("#nameMsg").html("&#9888; 잘못된 이름을 입력하였습니다. 다시 입력해주세요.").css('color', 'red');
				return false;
			} else if ($("#phone").val() == null || $("#phone").val().trim().length == 0 || $("#phoneMsg").css('color') != 'rgb(0, 128, 0)') {
				$("#phoneMsg").css('color', 'red').html("&#9888; 잘못된 이메일을 입력하였습니다. 다시 입력해주세요.");
				$("#phone").val("");
				$("#phone").focus();
				return false;
			}

			return true;
		};

		// 정보에 오류가 있는 상태로 폼전송을 했을 경우 경고 alert
		$(document).ready(function () {
			let message = "[[${findIdMessage}]]";
			if (message != "") {
				alert(message);
			} else {
			}
		})

	</script>
</head>

<body>

	<div class="wrapper">
		<!-- 공통 header -->
		<div th:replace="header :: header"></div>

		<main>
			<div id="wrap">
				<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">

				<form action="/member/findUserIdOk" method="post" onsubmit="return formCheck()">
					<div class="title">아이디 찾기</div>

					<div class="subtitle">
						가입 시 입력하신 이름과 전화번호를 입력해주세요.
						<hr>
					</div>

					<div>
						<input type="text" id="username" name="username" placeholder="이름" />
						<div id="nameMsg" class="message"></div>
					</div>
					<div>
						<input type="text" id="phone" name="phone" placeholder="전화번호" />
						<div id="phoneMsg" class="message"></div>
					</div>

					<div class="btn">
						<input type="submit" value="아이디찾기" class="findIdBtn" />
					</div>
				</form>
			</div>
		</main>

		<!-- 공통 footer -->
		<div th:replace="footer :: footer"></div>
	</div>
</body>

</html>