<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>비밀번호 찾기 페이지</title>

	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/member/find.css" />

	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
	<script>
		$(function () {

			// 아이디 유효성검사 | 6-12자의 영문 또는 숫자 구성
			$("#userid").on('blur', function () {
				var value = $(this).val();
				var reg = /^[A-Za-z0-9]{6,12}$/;

				// 아이디 입력필드에 1글자 이상 입력되었을 경우
				if (value != null && value.length >= 1) {
					// 아이디조건을 만족하지 않는 경우
					if (!reg.test(value)) {
						$("#idMsg").html("&#9888; 잘못된 아이디를 입력하였습니다. 다시 입력해주세요.").css('color', 'red');
						return false;
					} else {	// 아이디조건을 만족했다면
						$("#idMsg").html("").css('color', 'green');
					}
				} else {
					$("#idMsg").html(""); // 1자 미만이면 메세지 삭제
				}
			});


			// 이메일 유효성검사
			$('#email').on("blur", function () {
				var email = $("#email").val();
				var regExp = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;

				// 이메일 입력필드에 1자 이상 입력되었을 경우
				if (email != null && email.length >= 1) {
					// 이메일 형식에 맞지 않는 경우
					if (!regExp.test(email)) {
						$("#emailMsg").css('color', 'red').html("&#9888; 잘못된 이메일 주소를 입력하였습니다. 다시 입력해주세요.");
						return false;
					} else {
						$("#emailMsg").css('color', 'green').html("");
					}
				} else {
					$("#emailMsg").html("");
				}
			});

		});
		function formCheck() {
			if ($("#userid").val() == null || $("#userid").val().trim().length == 0 || $("#idMsg").css('color') != 'rgb(0, 128, 0)') {
				//alert("사용자 아이디는  반드시 입력해야 합니다.");
				$("#idMsg").css('color', 'red').html("&#9888; 잘못된 아이디를 입력하였습니다. 다시 입력해주세요.");
				$("#userid").val("");
				$("#userid").focus();
				return false;
			} else if ($("#email").val() == null || $("#email").val().trim().length == 0 || $("#emailMsg").css('color') != 'rgb(0, 128, 0)') {
				//alert("사용자 이메일은 반드시 입력해야 합니다.");
				$("#emailMsg").css('color', 'red').html("&#9888; 잘못된 이메일을 입력하였습니다. 다시 입력해주세요.");
				$("#email").val("");
				$("#email").focus();
				return false;
			}

			return true;
		};

		// 정보에 오류가 있는 상태로 폼전송을 했을 경우 경고 alert
		$(document).ready(function () {
			let message = "[[${findPwMessage}]]";
			if (message != "") {
				alert(message);
			} else {
			}
		})
	</script>
</head>

<body>

	<div class="wrapper">
		<!-- 공통 헤더 -->
		<div th:replace="header :: header"></div>

		<main>
			<div id="wrap">
				<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">

				<form action="/member/findPasswordOk" method="post" onsubmit="return formCheck()">
					<div class="title">비밀번호 찾기</div>

					<div class="subtitle">
						가입 시 입력하신 ID와 임시 비밀번호를 받고자 하는
						이메일 주소를 입력해주세요.
						<hr>
					</div>

					<div>
						<input type="text" id="userid" name="userid" placeholder="아이디" />
					</div>
					<div class="message" id="idMsg"></div>
					<div>
						<input type="text" id="email" name="email" placeholder="이메일 주소" />
					</div>
					<div class="message" id="emailMsg"></div>
					<div>
						<button type="submit" value="임시비밀번호발급" class="findPwBtn">다음</button>
					</div>
				</form>
			</div>
		</main>
		<!-- 공통 footer -->
		<div th:replace="footer :: footer"></div>
	</div>
</body>

</html>