<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>비밀번호 찾기 페이지</title>
	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>

	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/member/find.css" />

	<script>

		$(function () {
			// 아이디 중복확인 : Ajax로 처리
			$("#userid").keyup(function () {
				var value = $(this).val();
				$.ajax('idCheck', {
					type: "GET",
					data: {
						"userid": value
					},
					success: function (data) {
						if (data * 1 >= 1) {
							$("#idMessage").html("이미 존재하는 아이디입니다.").css('color', 'red');
						} else {
							$("#idMessage").html("사용가능한 아이디입니다.").css('color', 'green');
						}
					},
					error: function () {
						alert("에러!!!");
					}
				});
			});


			function formCheck() {
				let value = $("#userid").val();
				if (value == null || value.trim().length == 0) {
					alert("사용자 아이디는  반드시 입력해야 합니다.");
					$("#userid").val("");
					$("#userid").focus();
					return false;
				}

				value = $("#email").val();
				if (value == null || value.trim().length == 0) {
					alert("사용자 이메일은 반드시 입력해야 합니다.");
					$("#email").val("");
					$("#email").focus();
					return false;
				}
				return true;
			}
		})
	</script>
</head>

<body>

	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="hello">
				<th:block th:if="${session.mvo != null}">
					<!-- 별명을 설정하지 않은 회원은 아이디로 표시된다. -->
					<span>[[${session.mvo.nickname}]] </span> 님 환영합니다.
				</th:block>
			</nav>

			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '일반계정'}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '비즈니스계정'}">
					<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
					<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>
			</nav>
		</header>
	</div>

	<main>
		<div id="wrap">
			<form action="/member/findPasswordOk" method="post" onsubmit="return formCheck()">
				<div class="image">
					<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">
				</div>
				<div class="title">비밀번호 찾기</div>

				<div class="content">
					가입 시 입력하신 ID와 임시 비밀번호를 받고자 하는
					<br>이메일 주소를 입력해주세요.
				</div>
				<div>
					<input type="text" id="userid" name="userid" placeholder="아이디" required tabindex="1"
						th:value="${userid}" />
				</div>
				<div>
					<input type="text" id="email" name="email" placeholder="이메일 주소" required tabindex="2" />
				</div>
				<div>
					<button type="submit" value="임시비밀번호발급" class="findPwBtn">다음</button>
				</div>
			</form>
		</div>
	</main>
</body>

</html>