<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>회원 가입 페이지</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css">
	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<style type="text/css">
		#joinform {
			width: 400px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 50px;
			padding: 20px;
			border: none;
			text-align: center;
		}

		table {
			width: 100%;
			margin: auto;
			padding: 15px;
		}

		#joinform input {
			display: block;
			width: 100%;
			height: 35px;
			margin-top: 10px;
			margin-bottom: 10px;
			border: 2px solid gainsboro;
			border-radius: 7px;
			padding: 0 20px;
			/* 앞상하 뒷좌우 */
			box-sizing: border-box;
			font-size: 15px;
		}

		#joinform input:focus {
			border-color: #4D54A5;
			outline: none;
		}

		#joinform label {
			display: block;
			font-size: 12px;
			color: #333;
			text-align: left;
			margin-bottom: 5px;
		}

		.joinBtn {
			width: 100%;
			height: 40px;
			border-radius: 7px;
			border: none;
			color: white;
			font-weight: bold;
			background-color: #4D54A5;
			margin-top: 10px;
		}

		td {
			padding: 5px;
		}
	</style>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>

		$(function () {
			// 이메일 중복확인
			// keyup 이벤트 지정
			$("#email").keyup(function () {
				let email = $(this).val();
				if (email != null && email.length >= 3) {

				} else {
					$("emailmsg").html("");
				}
			});

		});


		// 아이디 중복확인 : Ajax로 처리
		$(function () {
			$("#userid").keyup(function () {
				// 현재 값 읽기
				var value = $(this).val();
				// 입력한 아이디가 4글자 이상일때 검사
				if (value != null && value.length >= 4) {
					$.ajax('idCheck', {
						type: "GET",
						data: {
							"userid": value
						},
						success: function (data) {
							if (data * 1 >= 1) {
								$("#idMessage").html("사용이 불가능한 아이디입니다.").css('color', 'red');
							} else {
								$("#idMessage").html("사용가능한 아이디입니다.").css('color', 'green');
							}
						},
						error: function () {
							alert("에러!!!");
						}
						
					});
				} else {
					$("#idMessage").html(""); // 4자 미만이면 검사 생략
				}
			});
			
			
			// 비밀번호 유효성검사
			$("#password").keyup(function () {
				var pw = $("#password").val();
				if (pw != null && pw.length >= 6) {
					var reg = /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
					if (!reg.test(pw)) {
						$("#pwMessage").css('color', 'red').html("영문, 숫자, 특수기호를 모두 포함해야 합니다.");
					} else {
						$("#pwMessage").css('color', 'green').html("적합한 비밀번호입니다.");
					}
				} else {
					$("#pwMessage").html(""); // 6자 미만이면 메세지 삭제
				}
			});

			$("#password1").keyup(function () {
				var pw = $("#password").val();
				var pw1 = $("#password1").val();
				if (pw1 != null && pw1.length >= 6) {
					if (pw1 != pw) {
						$("#pw1Message").css('color', 'red').html("비밀번호가 일치하지 않습니다.");
					} else {
						$("#pw1Message").css('color', 'green').html("비밀번호가 일치합니다.");
					}
				} else {
					$("#pw1Message").html(""); // 6자 미만이면 메세지 삭제
				}
			});
			
			
			// 별명 검사
			$("#nickname").keyup(function () {
				var nName = $("#nickname").val();
				var reg = /^[가-힣]{2,8}$/;
				if (!reg.test(nName)) {
					$("#message3").css('color', 'red').html("별명은 한글 2~8자로 입력해주세요.");
				} else {
					$("#message3").css('color', 'green').html("사용가능한 별명입니다.");
				}

			});
		});



		// 폼체크
		function formCheck() {
			var value = $("#userid").val();
			if (value == null || value.trim().length == 0) {
				alert("아이디는 반드시 입력해야 합니다.");
				$("#userid").val("");
				$("#userid").focus();
				return false;
			}
			
			if (value.indexOf(" ") > 0) {
				alert("아이디에는 공백을 포함할 수 없습니다.");
				$("#userid").val("");
				$("#userid").focus();
				return false;
			}
			
			if ($("#idMessage").css('color') != 'rgb(0, 0, 255)') {
				alert('사용불가능한 아이디 입니다.');
				$("#userid").val("");
				$("#userid").focus();
				return false;
			};
			
			value = $("#password").val();
			if (value == null || value.trim().length == 0) {
				alert("비밀번호는 반드시 입력해야 합니다.");
				$("#password").val("");
				$("#password").focus();
				return false;
			}
			value = $("#password1").val();
			if (value == null || value.trim().length == 0) {
				alert("비밀번호 확인 반드시 입력해야 합니다.");
				$("#password1").val("");
				$("#password1").focus();
				return false;
			}
			
			value = $("#username").val();
			if (value == null || value.trim().length == 0) {
				alert("사용자 이름은 반드시 입력해야 합니다.");
				$("#username").val("");
				$("#username").focus();
				return false;
			}
			
			value = $("#email").val();
			if (value == null || value.trim().length == 0) {
				alert("이메일 주소는 반드시 입력해야 합니다.");
				$("#email").val("");
				$("#email").focus();
				return false;
			}
			if (CheckEmail(value)) {
				alert("이메일 주소 형식이 틀립니다.");
				$("#email").val("");
				$("#email").focus();
				return false;
			}
			
			value = $("#phone").val();
			if (value == null || value.trim().length == 0) {
				alert("전화번호는 반드시 입력해야 합니다.");
				$("#phone").val("");
				$("#phone").focus();
				return false;
			}

			

			return true;
		}


		// 이메일이 잘못되었는지 확인하는 함수 
		function CheckEmail(str) {
			let regex = new RegExp("([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$");
			return !regex.test(str);
		}
	</script>
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/community/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/community/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<a href="/member/login"><strong>로그인</strong></a>
				<!--<a href="/member/join"><strong>회원가입</strong></a>-->
				<a href="/community/"><strong>비즈니스 계정</strong></a>
			</nav>
		</div>
	</div>



	<div id="joinform">
		<form action="/member/agreement" method="post" onsubmit="return formCheck()">
			<table class="inputform">
				<tr>
					<td class="title"><img src="/images/wesely_logo.png" alt="wesely로고" width="50px"></td>
				</tr>

				<tr>
					<td>
						<label for="userid">아이디 <span id="idMessage" style="float: right;"></span></label>
						<input type="text" id="userid" name="userid" required />
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">비밀번호<span id="pwMessage" style="float: right;"></span></label>
						<input type="password" id="password" name="password" required />
						<i class="bi bi-eye"></i>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password1">비밀번호확인<span id="pw1Message" style="float: right;"></label>
						<input type="password" id="password1" name="password1" required />
					</td>
				</tr>
				<tr>
					<td>
						<label for="nickname">별명 <span id="message3" style="float: right;"></span></label>
						<input type="text" id="nickname" name="nickname" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="username">이름</label>
						<input type="text" id="username" name="username" required />
					</td>
				</tr>
				<tr>
					<td>
						<label for="phone">전화번호</label>
						<input type="text" id="phone" name="phone" required />
					</td>
				</tr>
				<tr>
					<td>
						<label for="email">이메일<span id="emailmsg" style="float: right;"></span></label>
						<input type="text" id="email" name="email" size="40" required />
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="약관 동의하고 회원가입" class="joinBtn" />
					</td>
				</tr>
			</table>
		</form>



		<label>
			회원가입과 동시에 <img src="/images/weLogo.png" style="width: 50px;"> 의
			<span style="color: #4D54A5; font-weight: bold;"> 개인정보 수집 및 처리</span> 에 동의한 것으로 간주합니다.
		</label>

	</div>
</body>

</html>