<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>로그인 페이지</title>

	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/member/login.css">
	<script src="/js/member/login.js" defer></script>

</head>

<body>

	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>




		<div id="loginform">
			<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">

			<form action="/member/loginOk" method="post" onsubmit="return formCheck()">

				<div id="inputform">
					<!-- 아이디 입력 폼 -->
					<div>
						<label for="userid">아이디</label>
						<input type="text" id="userid" name="userid" th:value="${userid}"  />
					</div>
					<!-- 비밀번호 입력 폼 -->
					<div>
						<label for="password">비밀번호</label>
						<input type="password" id="password" name="password"  />
					</div>

					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

					<!-- 아이디/비밀번호 찾기 링크 보이기 & 전송 폼  -->
					<div>
						<input type="submit" value="로그인" class="loginBtn" />
						<a href="/member/findUserId">아이디를 잊으셨나요?</a><br />
						<a href="/member/findPassword">비밀번호를 잊으셨나요?</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>

</html>