<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>비밀번호 변경 페이지</title>

	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/member/update.css">
	<script src="/js/member/updatePassword.js" defer></script>
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="wrapper">
		<!-- 공통 header -->
		<div th:replace="header :: header"></div>
		<main>
			<!-- 비밀번호 변경 메인폼 -->
			<div id="update">
				<div class="title">
					<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">
				</div>
				<div class="subtitle">
					<label style="font-size: 18px; font-weight: bold; color:  #4D54A5;">비밀번호 변경</label>
					<hr>
				</div>
				<form action="/member/updatePasswordOk" method="post" onsubmit="return formCheck()">
					<div class="pw">
						<input type="hidden" name="userid" th:value="${session.mvo.userid}">
						<label for="password">현재 비밀번호</label>
						<input type="password" id="password" name="password" />
						<img id="pw" src="/images/hide.png" class="pw-toggle">
						<div id="pwMessage" class="message"></div>
					</div>
					<div class="pw">
						<label for="password">새 비밀번호 입력</label>
						<input type="password" id="newPassword" name="newPassword" />
						<img id="pwIcon" src="/images/hide.png" class="pw-toggle">
						<div id="newPwMessage" class="message"></div>
					</div>
					<div class="pw">
						<label for="password">새 비밀번호 확인</label>
						<input type="password" id="newPassword1" />
						<img id="pw1Icon" src="/images/hide.png" class="pw-toggle">
						<div id="newPwMessage1" class="message"></div>
					</div>

					<div>
						<input type="submit" value="변경 완료" class="updatePasswordBtn" />
					</div>

				</form>
			</div>
		</main>
		<!-- 공통 footer -->
		<div th:replace="footer :: footer"></div>
</body>

</html>