<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>비밀번호 변경 페이지</title>


	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/member/update.css">
	<script src="/js/member/updatePassword.js" defer></script>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>

		<!-- 비밀번호 변경 메인폼 -->
		<div id="update">
			<form action="/member/updatePasswordOk" method="post" onsubmit="return formCheck()">
				<div>
					<div class="title">비밀번호 변경
						<img src="/images/wesely_logo.png" alt="wesely로고" width="50px" style="float: right;">
					</div>
				</div>
				<div class="pw">
					<input type="hidden" name="userid" th:value="${session.mvo.userid}">
					<label for="password">현재 비밀번호</label>
					<input type="password" id="password" name="password" />
					<img id="pw" src="/images/hide.png" class="pw-toggle">
				</div>
				<div class="pw">
					<label for="password">새 비밀번호 입력</label>
					<input type="password" id="newPassword" name="newPassword" />
					<img id="pwIcon" src="/images/hide.png" class="pw-toggle">
					<span id="newPwMessage"/>
				</div>
				<div class="pw">
					<label for="password">새 비밀번호 확인</label>
					<input type="password" id="newPassword1" />
					<img id="pw1Icon" src="/images/hide.png" class="pw-toggle">
					<span id="newPwMessage1"/>
				</div>
				
				<div>
					<input type="submit" value="변경 완료" class="updatePasswordBtn"/>
				</div>
		</div>


		</form>

	</div>
</body>

</html>