<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>회원정보수정 페이지</title>

	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/member/updateProfile.css">
	<script src="/js/member/updateProfile.js" defer></script>

</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>

		<!-- 프로필 수정 페이지 -->
		<main>

			<div id="updateProfile">
				<div>
					<div class="title">프로필 수정
						<img src="/images/wesely_logo.png" alt="wesely로고" width="50px" style="float: right;">
					</div>
				</div>

				<div>
					<div class="profileImage" colspan="2">
						<label for="profileimage">프로필 사진</label>
						<button id="btn-modal">
							<img src="${pageContext.request.contextPath}/member/photoView.do" class="profile-photo" width="80" height="80"
								style="border-radius: 70%; overflow: hidden;" />
						</button>
					</div>
				</div>

				<!-- 모달창 -->
				<div id="modal" class="modal-overlay">
					<div class="modal-window">
						<div class="title">
							<h2>프로필 사진 등록</h2>
						</div>
						<div class="close-area">X</div>
						<div class="content">
							<img src = "${pageContext.request.contextPath}/member/photoView.do" class="profile-photo" style="width: 80px; height: 80px;">
							<input type="hidden" name="userid" th:value="${session.mvo.userid}" />
							<input type="file" id="upload" accept="image/gif, image/png, image/jpeg" />
						</div>
						<div class="ModalBtn">
							<button type="button" id="photo_submit" value="등록" />
						</div>
					</div>
				</div>

--
				<form action="/member/updateProfileOk" method="post" onsubmit="return formCheck()">

					<div class="nickName">
						<input type="hidden" id="userid" name="userid" th:value="${session.mvo.userid}" />

						<label for="nickname">닉네임</label>
						<!-- 회원가입 시 닉네임을 설정하지 않았다면 이름이 기본으로 보여진다!! -->
						<input type="text" id="nickname" th:value="${session.mvo.nickname}"  />
						<span id="nickmessage" style="float: left; font-size: 13px;" />
					</div>
					<div>
						<label for="username">이름</label>
						<input type="text" id="username" name="username" th:placeholder="${session.mvo.username}"
							readonly />
					</div>
					<div>
						<label for="phone">전화번호</label>
						<input type="text" id="phone" name="phone" th:placeholder="${session.mvo.phone}" readonly />
					</div>
					<div>
						<label for="email">이메일</label>
						<input type="email" id="email" name="email" size="40" th:placeholder="${session.mvo.email}"
							readonly />
					</div>
					<div>
						<input type="submit" value="수정 완료" class="updateBtn" />
					</div>
					<div>
						<input type="button" class="updatePwBtn" onclick="location.href='/member/updatePassword'"
							value="비밀번호변경">
					</div>
					<div>
						<span class="deleteBtn" onclick="deleteMember();">회원탈퇴</span>
					</div>
				</form>
			</div>
		</main>

	</div>
</body>

</html>