<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>비밀번호 찾기 페이지</title>

	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/member/view.css" />
</head>

<body>
	<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="hello">
				<th:block th:if="${session.mvo != null}">
					<!-- 별명을 설정하지 않은 회원은 아이디로 표시된다. -->
					<span>[[${session.mvo.nickname}]] </span> 님 환영합니다.
				</th:block>
			</nav>

			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '일반계정'}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '비즈니스계정'}">
					<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
					<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>
			</nav>
		</header>
	
	<main>
		<div id="info">
				<div class="image">
					<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">
				</div>
				<div class="content">
					[ <b style="color: #4D54A5;">[[${vo.userid}]]</b> ] 님의 임시 비밀번호를 <br/><br/>
					[ <b style="color: #4D54A5;">[[${vo.email}]]</b> ] 로 전송했습니다.<br /><br/>
					이메일을 확인하시고 로그인을 시도하시기 바랍니다.
				</div>
				<div class="btn">
					<input type="button" value="로그인 하러가기" class="loginBtn" onclick="location.href='/member/login'"  />
				</div>
		</div>
	</main>
</body>

</html>