<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기 페이지</title>

	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/member/view.css" />

	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>

</head>

<body>
	<!-- 공통 header -->
	<div th:replace="header :: header"></div>

	<main>
		<div id="info">
			<div class="image">
				<img src="/images/wesely_logo.png" alt="wesely로고" width="50px">
			</div>

			<div class="content">
				[[${vo.username}]]님의 아이디는 <br />
				[ <b style="color: #4D54A5;">[[${vo.userid}]]</b> ]<br />
				입니다. <br />
			</div>
			<div class="btn">
				<input type="button" value="로그인 하러가기" class="loginBtn" onclick="location.href='/member/login'" />
			</div>
		</div>
	</main>
	<!-- 공통 footer -->
	<div th:replace="footer :: footer"></div>
</body>

</html>