<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="/css/commu.css">
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
                <a href="/store/"><strong>운동시설검색</strong></a>
                <a href="/community/"><strong>커뮤니티</strong></a>
                <a href="/"><strong>고객센터</strong></a>
            </nav>
            <nav class="login">
                <a href="/member/login"><strong>로그인</strong></a>
                <a href="/member/join"><strong>회원가입</strong></a>
                <a href="/"><strong>비즈니스 계정</strong></a>
            </nav>
		</div>
	</div>
	<div class="titleBox">
		<div class="flexBox">
			<img src="/images/Location.png">
			<p>대전광역시 중구 대흥동</p>
		</div>
		<h1 class="title">커뮤니티</h1>
		<hr>
	</div>
	<div class="one">
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
	</div>>
	<div class="one">
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
		<div>
			<img class="imag2" src="/images/imag.jpg">
			<div><img src="/images/Profile.png">
				<p>haemssssss</p>
			</div>
			<div>오늘 뿌리공원까지 같이 자전거타<br>
				오늘 뿌리공원까지 같이 자전거...</div>
		</div>
	</div>
</body>

</html>