<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="/images/weLogo.png" alt="Logo" />
                </a>
            </div>
            <nav class="bar">
                <a href="/comm/community"><strong>운동시설검색</strong></a>
                <a href="/comm/community"><strong>커뮤니티</strong></a>
                <a href="/comm/community"><strong>고객센터</strong></a>
            </nav>
            <nav class="login">
                <a href="/member/login"><strong>로그인</strong></a>
                <a href="/member/join"><strong>회원가입</strong></a>
                <a href="/comm/community"><strong>비즈니스 계정</strong></a>
            </nav>
        </div>

        
        <div class="titleBox">
            <div class="flexBox">
                <img src="/images/Location.png">
                <p>대전광역시 중구 대흥동</p>
            </div>
            <h1 class="title">게시글 등록</h1>
            <hr>
        </div>
        
        <main>
            <div class="box">
                <div class="userInfo">
                    <img src="/images/Profile.png">
                    <p>haemssssss</p>
                </div>
                <div class="center">
                    <div class="aing">
                        <div class="Additional">
                            <ion-icon name="add-outline" style="font-size: 30pt; color: #686868;"></ion-icon>
                            <div>
                                사진추가
                            </div>
                        </div>
                        <div class="Additional">
                            <ion-icon name="add-outline" style="font-size: 30pt; color: #686868;"></ion-icon>
                            <div>
                                사진추가
                            </div>
                        </div>
                        <div class="Additional">
                            <ion-icon name="add-outline" style="font-size: 30pt; color: #686868;"></ion-icon>
                            <div>
                                사진추가
                            </div>
                        </div>
                        <div class="Additional">
                            <ion-icon name="add-outline" style="font-size: 30pt; color: #686868;"></ion-icon>
                            <div>
                                사진추가
                            </div>
                        </div>
                    </div>
                    <textarea class="room"></textarea>
                    <div class="button">
                        <button class="buttonOne" type="button">취소</button>
                        <button class="buttonOne" type="button">등록</button>
                    </div>
                </div>
            </div>
        </main>
    </div>


</body>

</html>