<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/view.css">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <a href="">
                    <img src="static/images/weLogo.png" alt="Logo" />
                </a>
            </div>
            <nav class="bar">
                <a href="#"><strong>운동시설검색</strong></a>
                <a href="#1"><strong>커뮤니티</strong></a>
                <a href="#2"><strong>고객센터</strong></a>
            </nav>
            <nav class="login">
                <a href="#3"><strong>로그인</strong></a>
                <a href="#4"><strong>회원가입</strong></a>
                <a href="#5"><strong>비즈니스 계정</strong></a>
            </nav>
        </div>
    </div>
    <div class="titleBox">
        <div class="flexBox">
            <img src="static/images/Location.png">
            <p class="margin">대전광역시 중구 대흥동</p>
        </div>
    </div>
    <main>
        <div class="userInfo">
            <img src="static/images/Profile.png">
            <p class="margin">haemssssss</p>
        </div>
        <div>
            <img class="img1" src="static/images/imag2.jpg">
        </div>
        <p class="font">
            텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
        </p>
        <div class="Comments">
            <p class="font1">좋아요 <strong>74</strong> 개</p>
            <div class="flexBox1">
                <div>
                    <button type="button" class="buttonYo"><ion-icon name="heart-outline"
                            style="font-size: 32pt;"></ion-icon></button>
                    <button type="button" class="buttonYo"><ion-icon name="chatbubble-outline"
                            style="font-size: 30pt;"></ion-icon></button>
                </div>
                <div>
                    <p class="font2">댓글 더 보기...</p>
                </div>
            </div>
            <p class="font1">댓글 <strong>2</strong>개</p>
            <div class="talk">
                <div class="Ttalk">
                    <img src="static/images/Profile.png">
                    <p class="margin2">yeosanghyeon</p>
                    <div class="TTtalk">
                        <p>룰루랄라룰랄루아나아나나아나</p>
                    </div>
                    <button type="button" class="buttonYo"><ion-icon name="heart-outline"
                        style="font-size: 21pt;"></ion-icon></button>
                </div>
                <div class="Ttalk">
                    <img src="static/images/Profile.png">
                    <p class="margin2">yeosanghyeon</p>
                    <div class="TTtalk">
                        <p>룰루랄라룰랄루아나아나나아나</p>
                    </div>
                    <button type="button" class="buttonYo"><ion-icon name="heart-outline"
                        style="font-size: 21pt;"></ion-icon></button>
                </div>
                <div class="textbtn">
                    <textarea placeholder="댓글 작성" class="textBox"></textarea>
                    <button type="button" class="btn">등록</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>