<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>post상세보기</title>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/view.css">
	<!-- fontawesome 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
</head>


<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<a href="/member/login"><strong>로그인</strong></a>
				<a href="/member/join"><strong>회원가입</strong></a>
				<a href="/"><strong>비즈니스 계정</strong></a>
			</nav>
		</header>

		<section class="mainIconBox">
			<div class="currentPlace">
				<img src="/images/ic.png" alt="마커아이콘" />
				<p>대전광역시 중구 대흥동</p>
			</div>
		</section>

		<main>
			<div class="postBox">
				<div class="userInfo">
					<img src="/images/Profile.png">
					<p>haemssssss</p>
				</div>

				<div class="postContent">
					<img src="/images/imag2.jpg">
					<p class="postText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorem quae, sed fuga fugit
						suscipit quas porro maiores ab molestiae officiis magni eos accusantium earum qui vero voluptate
						doloribus sit!텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					</p>
				</div>
			</div>

			<div class="commentsBox">
				<p class="totalLike">
					좋아요 <strong>74</strong>개
				</p>

				<div class="btnList">
					<div>
						<button type="button">
							<!-- 꽉찬하트 -->
							<!-- <i class="fa-solid fa-heart"></i> -->
							<!-- 빈 하트 -->
							<i class="fa-regular fa-heart"></i>
							<!-- <img src="static/images/heart_icon.png" alt="좋아요아이콘"> -->
						</button>

						<button type="button">
							<i class="fa-regular fa-comment"></i>
							<!-- <img src="static/images/comment_icon.png" alt="댓글아이콘"> -->
						</button>
					</div>


					<p class="moreComments">댓글 더 보기...</p>
				</div>

				<p class="totalComments">
					댓글 <strong>2</strong>개
				</p>

				<div class="commentList">
					<div class="commentItem">
						<div class="commentLine">
							<div class="userInfo">
								<img src="/images/Profile.png">
								<p>haemssssss</p>
							</div>
							<p class="commentText">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti dolor mollitia non
								adipisci aliquid, quisquam cumque voluptas amet provident eveniet earum quo rem sequi
								repudiandae modi aspernatur, ducimus ab. Officiis.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
								incidunt sapiente minima dolore quisquam quo fuga consequuntur quibusdam rem fugit
								doloremque excepturi nihil, ut esse quidem id minus tempore omnis!
							</p>
						</div>

						<button type="button" class="btnCommentLike">
							<i class="fa-regular fa-heart"></i>
							<!-- <img src="static/images/heart_icon.png" alt="좋아요아이콘"> -->
						</button>
					</div>
					<div class="commentItem">
						<div class="commentLine">
							<div class="userInfo">
								<img src="/images/Profile.png">
								<p>haemssssss</p>
							</div>
							<p class="commentText">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti dolor mollitia non
								adipisci aliquid, quisquam cumque voluptas amet provident eveniet earum quo rem sequi
								repudiandae modi aspernatur, ducimus ab. Officiis.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
								incidunt sapiente minima dolore quisquam quo fuga consequuntur quibusdam rem fugit
								doloremque excepturi nihil, ut esse quidem id minus tempore omnis!
							</p>
						</div>

						<button type="button" class="btnCommentLike">
							<i class="fa-regular fa-heart"></i>
							<!-- <img src="static/images/heart_icon.png" alt="좋아요아이콘"> -->
						</button>
					</div>
				</div>

				<div class="addCommentBox">
					<textarea placeholder="댓글 작성" class="commentForm"></textarea>
					<button type="button" class="btnAddPost">등록</button>
				</div>
			</div>
		</main>
	</div>
</body>

</html>