<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>운동시설검색</title>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/store/searchStore.css" />
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=04aea75b3d77e8dc37d083dd6b9d6eb4&libraries=services">
		</script>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<a href="/member/login"><strong>로그인</strong></a>
				<a href="/member/join"><strong>회원가입</strong></a>
				<a href="/"><strong>비즈니스 계정</strong></a>
			</nav>
		</header>

		<main>
			<section class="mainTop">
				<div class="mainTitle">
					<h2>운동시설 검색</h2>
					<p>위치와 함께 키워드를 입력하면 매장들이 표시됩니다. 예시) 대흥동 헬스</p>
				</div>

				<div class="searchBox" id="menu_wrap">
					<form onsubmit="searchPlaces(); return false;">
						<input type="text" value="" id="keyword" size="15" class="searchInput">
						<button type="submit" class="btnSearch">검색</button>
					</form>
				</div>
			</section>


			<section class="mainContent">
				<ul class="storeList" id="placesList">
					<!-- js에서 키워드 검색결과 item 삽입 -->
				</ul>
				<div id="pagination"></div>
				<div id="map"></div>
			</section>
		</main>
	</div>
	<script src="/js/store/searchStore.js"></script>
</body>

</html>