<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/store/placeList.css" />
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
	<script>
		// 더보기버튼 클릭시 12개씩 가져오기 위해 초기 Num0셋팅
		let lastNum = 0;
		window.onload = function () {
			//storeMore();
			//placesSearchCB();
		}
	</script>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=04aea75b3d77e8dc37d083dd6b9d6eb4&libraries=services"></script>
	<script>
		let latitude;
		let longitude;
		var allPlaces;  // 전역변수로 선언
		// 장소 검색 객체를 생성합니다
		var ps = new kakao.maps.services.Places();

		// 현재 위치의 위도, 경도 알아내기
		navigator.geolocation.getCurrentPosition((position) => {
			latitude = position.coords.latitude;
			longitude = position.coords.longitude;

			// 알아낸 위도,경도를 kakaoAPI로 파라미터로 넘겨 법정동으로 받아내기
			geocoder.coord2RegionCode(longitude, latitude, callback);
		});

		var geocoder = new kakao.maps.services.Geocoder();

		var callback = function (result, status) {
			if (status === kakao.maps.services.Status.OK) {

				console.log(result[0].region_1depth_name);
				console.log(result[0].region_3depth_name);


				// 현재 위치 표시 00시 00구 00동
				document.getElementById('currentLocation').innerText =
					result[0].region_1depth_name + " " +
					result[0].region_2depth_name + " " +
					result[0].region_3depth_name;

				// 현재 위치 00시 00동으로 검색
				let region = result[0].region_1depth_name + result[0].region_3depth_name;
				const loc = result[0].region_2depth_name + result[0].region_3depth_name;
				var searchKeywords = ['요가', '헬스', '필라테스'];

				var searchPromises = searchKeywords.map(keyword => {
					return new Promise((resolve, reject) => {
						ps.keywordSearch(region + keyword, (data, status) => {
							if (status === kakao.maps.services.Status.OK) {
								// data 배열의 각 요소에 대해 loc 속성 추가
								data.forEach(item => {
									item.loc = loc;
								});
								resolve(data);

							} else {
								reject(status);
							}
						}, {page: 1, size: 15});
					});
				});


				Promise.all(searchPromises)
					.then(results => {
						// Flatten the array of arrays into a single array
						allPlaces = [].concat(...results);
						console.log(allPlaces);
						sendLocation(loc)
						// Extract the id of each place and send to server
						sendKakaoIds(allPlaces.map(place => (place.id)));
					})
					.catch(error => console.error(error));
			}
		};

		function sendLocation(loc) {
			console.log(loc);
			fetch('/api/getStoreByLoc', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: loc
			})
				.then(response => response.json())
				.then(data => {
					console.log(data);
					let content = "";
					data.forEach(store => {
						let imgSrc;
						if (store.imgList.length > 0) {
							imgSrc = `/ static / images / upload / ${store.imgList[0].uuid}_${store.imgList[0].fileName} `;
						} else {
							console.log('imgList is empty');
							imgSrc = '/images/unpostImg.png';
						}
						content += `
						<div class="placeItem" id="placeItem">
							<a href="/store/view/${store.id}">
								<div class="hoverImgBox">
									<img src="${imgSrc}" alt="시설이미지" />
								</div>
								<div class="placeTextBox">
									<div class="storeTitle">
										<span>${store.name}</span>
										<span>⭐ ${store.averageStar}</span>
									</div>
									<p class="storeLocation">${store.address}</p>
                                	<!-- 👇해시태그 리스트도 동적으로 생성하려면 추가적인 처리가 필요합니다 -->
									<!--이 부분은 store 객체의 구조와 데이터 형태에 따라 달라집니다-->
									<div class="hashTagList">
									<p class="hashTag">#헬스장</p>
									<p class="hashTag">#에너지 넘치는</p>
									</div>
								</div >
							</a >
               			</div >`;
					});
					const storeListElement = document.getElementById('mainContent');
					// 모든 HTML 문자열을 한 번에 innerHTML 에 할당
					storeListElement.innerHTML = content;
				})
				.catch((e) => console.log(e));
		}

		function sendKakaoIds(kakaoPlaces) {
			console.log(kakaoPlaces);
			fetch('/api/getStoresByIds', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(kakaoPlaces)
			})
				.then(response => response.json())
				.then(data => {
					console.log(data);
					allPlaces.forEach(place => {
						let store = data.find(s => s.kakaoId === place.id);
						let content = "";
						if (store) {
							let imgSrc;
							if (store.imgList.length > 0) {
								imgSrc = `/static/images/upload/${store.imgList[0].uuid}_${store.imgList[0].fileName}`;
							} else {
								imgSrc = '/images/unpostImg.png';
							}

							// store 객체를 이용해 HTML 생성
							content += `
                			<div class="placeItem" id="placeItem">
                    			<a href="/store/view/${store.id}">
                        			<div class="hoverImgBox">
                            			<img src="${imgSrc}" alt="시설이미지" />
                        			</div>
                        			<div class="placeTextBox">
                            			<div class="storeTitle">
                                			<span>${place.place_name}</span>
                                			<span>⭐ ${store.averageStar}</span>
                            			</div>
                            			<p class="storeLocation">${place.address_name}</p>
                            			<!-- 해시태그 리스트 동적으로 생성 -->
                            			<!-- 이 부분은 store 객체의 구조와 데이터 형태에 따라 달라집니다 -->
                            			<!-- 예: #헬스장, #에너지 넘치는 등 -->
                            			<div class="hashTagList">
                                			<p class="hashTag">${store.hashTag}</p>
                            			</div>
                        			</div >
                    			</a >
                			</div>`;
						} else {
							// place 객체를 이용해 HTML 생성
							content += `
                 	<div class="placeItem" id="placeItem" onclick="selectPlace(this)" data-place='${place}'>
                   		<a href="/store/view/ka/${place.id}">
                      		<div class="hoverImgBox">
                         		<img src="/images/unpostImg.png" alt="${place.place_name}" />
                      		</div>
                      		<div class="placeTextBox">
                          		<div class="storeTitle">
                              		<span>${place.place_name}</span>
                              		<span>⭐ 0</span> 
                          		</div>
                          		<p class='storeLocation'>${place.address_name}</p> 
                          	
                          	 	<!-- 카카오 API에서 제공하는 카테고리 정보로 해시태그 리스트 동적으로 생성 -->
                             	<!-- 예: #스포츠,레저, #요가,필라테스, #요가원 -->
                          		<div class="hashTagList">
                              		<p class="hashTag">#${place.category_name.split('>').join('#')}</p>
                          		</div>
                      		</div >
                   	 	</a>
                 	</div>`;
						}

						const storeListElement = document.getElementById('mainContent');
						// 모든 HTML 문자열을 한 번에 innerHTML 에 할당
						storeListElement.innerHTML += content;
					});
				})
				.catch((e) => console.log(e));

		}
	</script>
</head>

<body>

	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="hello">
				<th:block th:if="${session.mvo != null}">
					<span>
						<!-- 별명을 설정하지 않은 회원은 이름으로 표시된다. -->
						<input type="text" th:value="${session.mvo.nickname}" disabled />
						님 환영합니다.
					</span>
				</th:block>
			</nav>

			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '일반계정'}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '비즈니스계정'}">
					<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
					<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>
			</nav>
		</header>

		<!-- 👇여기부터 주변시설목록들 -->
		<main>
			<div class="mainList">
				<div class="mainTitle">
					<div class="mainTextBox">
						<h2>내 주변의 운동시설</h2>
						<h2>100% 즐기기</h2>
						<p>나와 꼭 맞는 운동시설찾기, 리뷰를 통해 확인해보세요.</p>
					</div>

					<div class="line"></div>

					<div class="mainIconBox">
						<div class="currentPlace">
							<img src="/images/ic.png" alt="마커아이콘" />
							<p id="currentLocation"></p>
						</div>
						<div class="searchBtn">
							<button th:onclick="location.href='/store/search'">지도로 시설검색</button>
							<img src="/images/icon_search.png" alt="서치아이콘" />
						</div>
					</div>
				</div>


				<div class="mainContent" id="mainContent">

				</div>
			</div>

			<button class="btnSeeMore" id="loadMoreButton" onclick="storeMore()">
				<span>시설 더보기</span>
				<i class="fa-solid fa-chevron-down"></i>
			</button>
		</main>
	</div>
</body>

</html>