<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>운동시설검색</title>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/store/searchStore.css" />
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<a href="/member/login"><strong>로그인</strong></a>
				<a href="/member/join"><strong>회원가입</strong></a>
				<a href="/"><strong>비즈니스 계정</strong></a>
			</nav>
		</header>

		<main>
			<section class="mainTop">
				<div class="mainTitle">
					<h2>운동시설 검색</h2>
					<p>위치와 함께 키워드를 입력하면 매장들이 표시됩니다. 예시) 대흥동 헬스</p>
				</div>

				<div class="searchBox">
					<input type="text" class="searchInput">
					<button class="btnSearch">검색</button>
				</div>
			</section>


			<section class="mainContent">
				<ul class="storeList">
					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>

					<li class="storeItem">
						<div class="storeTitle">
							<img src="/images/icon_place.png" alt="위치마커아이콘">
							<p class="storeTitleText">가온 헬스</p>
						</div>
						<p class="storeAddress">대전 중구 충무로 107번길 122</p>
					</li>
				</ul>
				<img class="map" src="/images/storeMapImg.png" alt="지도들어갈곳">
			</section>
		</main>
	</div>
</body>

</html>