body {
	width: 100%;
	height: 110vh;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
}

#joinform {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: fit-content;
	text-align: center;
	border: none;

	margin-top: 20px;
	padding: 0 40px;
}

.title {
	margin-bottom: 30px;
}

.subtitle {
	margin-bottom: 20px;
}

hr {
	background: gainsboro;
	height: 1px;
	border: 0;
	margin-top: 10px;
}

#joinform input {
	width: 100%;
	height: 35px;
	border: 1px solid gainsboro;
	border-radius: 7px;
	padding: 0 20px;
	/* 앞상하 뒷좌우 */
	box-sizing: border-box;
	font-size: 15px;
}

#joinform select {
	width: 100%;
	height: 35px;
	border: 1px solid gainsboro;
	border-radius: 7px;
	text-align: center;
}


input::placeholder {
	color: lightgray;
	font-size: 13px;
}

#joinform input:focus,
#joinform select:focus {
	border-color: #4D54A5;
	outline: none;
}

#joinform label {
	display: block;
	font-size: 14px;
	color: #333;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

#joinform .message {
	font-size: 13px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: left;
	padding-left: 10px;
}

.MemberInput span {
	color: #4b4eba;
}

/* 사업자 인증 버튼 */
#confirmBtn,
#joinBtn {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	color: #4b4eba;
	background-color: #fff;
	border: 1px solid #4b4eba;
	border-radius: 8px;
	cursor: pointer;
	transition: all ease-out 250ms;
	font-size: 15px;

}


#joinBtn:hover,
#confirmBtn:hover {
	background-color: #4b4eba;
	color: #fff;
}



.Bno input::placeholder {
	text-align: center;
}

.Store input::placeholder {
	text-align: left;
}

.Bno input {
	text-align: center;
}

.Bname input,
.Store input {
	text-align: left;
}

.Bno #bNum1 {
	width: 90px;
}

.Bno #bNum2 {
	width: 70px;
}

.Bno #bNum3 {
	width: 130px;
}


/*회원가입 약관*/
.MemberInput a {
	color: #4D54A5;
}

.MemberInput a:hover {
	font-weight: bold;
}