body {
	width: 100%;
	height: 100vh;
}

main {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
}
#update {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	
	display: flex;
	flex-direction: column;
	
	height: fit-content;
	text-align: center;
	border: none;
	
	margin-top: 20px;
	padding: 0 40px;
}


.title {
	margin-bottom: 30px;
}
.subtitle{
	margin-bottom: 20px;
}


#update input {
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 5px;
	border: 1px solid gainsboro;
	border-radius: 7px;
	padding: 0 20px;
	/* 앞상하 뒷좌우 */
	box-sizing: border-box;
	font-size: 15px;
}

#update input:focus {
	outline: none;
}

input::placeholder {
	color: lightgray;
	font-size: 13px;
}

#update label {
	display: block;
	font-size: 14px;
	color: #333;
	text-align: left;
	margin-bottom: 5px;
}

/* ============== 여기까진 공통으로 적용 ================== */


#update .nickName input:focus,
#update .pw input:focus {
	border-color: #4D54A5;
	outline: none;
}

/* 경고메시지 */
.message {
	font-size: 13px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: left;
	padding-left: 10px;
}

/* 보기/숨기기 아이콘 */
#pw,
#pwIcon,
#pw1Icon {
	width: 20px;
	position: absolute;
	margin-left: 118px;
	margin-top: -31px;
}

/* 회원수정, 비밀번호변경완료 버튼 */
.btn {
	margin-top: 20px;
}

#update .updateBtn,
#update .updatePwBtn,
#update .updatePasswordBtn {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	color: #4b4eba;
	background-color: #fff;
	border: 1px solid #4b4eba;
	border-radius: 8px;
	cursor: pointer;
	transition: all ease-out 250ms;
}

#update .updateBtn:hover,
#update .updatePwBtn:hover,
#update .updatePasswordBtn:hover {
	background-color: #4b4eba;
	color: #fff;
}


/* 회원탈퇴 버튼 */
.deleteBtn {
	color: rgb(128, 128, 128);
	font-size: 15px;
	text-decoration: underline;
}

.deleteBtn:hover {
	font-weight: bold;
}


/* 프로필 사진 버튼*/
#btn-modal {
	background-color: white;
	border: none;
	transition: all 0.2s;
}

#btn-modal:hover {
	transform: scale(1.02);
}

/* ============== 모달 css ================== */

/* 모달스타일 */
.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
	background: white;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid #4b4eba;
	width: 300px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
}



/* 모달 제목 스타일 */
#modal .title {
	color: #4D54A5;
	display: inline;
	font-size: 25px;
}

/* 모달 이미지 미리보기 스타일 */
.modal-photo {
	width: 120px;
	height: 120px;
	cursor: pointer;
	position: absolute;
	top: calc(50% - 20px);
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	overflow: hidden;
}


/* 등록, 취소 버튼 스타일 */
.button {
	margin-top: 150px;
}

#photo_submit,
.close-button {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #4b4eba;
	background-color: #fff;
	border: 1px solid #4b4eba;
	border-radius: 8px;
	cursor: pointer;
	transition: all ease-out 250ms;
}

#photo_submit:hover,
.close-button:hover {
	background-color: #4b4eba;
	color: #fff;
}