<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>게시글등록</title>

	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/comm/createPost.css">
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<script th:inline="javascript">

	function formCheck() {
		let value = $("#inputFile1").val(); // 내용 얻고
		if (value == null || value.trim().length == 0) { // 없거나 빈칸들로만  입력되었다면
			alert('이미지는 반드시 입력해야 합니다.'); // 경고
			$("#inputFile1").val(""); // 입력값 삭제
			$("#inputFile1").focus(); // 커서 위치
			return false;   // 전송 취소
		}
		value = $("#addText").val(); // 내용 얻고
		if (value == null || value.trim().length == 0) { // 없거나 빈칸들로만  입력되었다면
			alert('내용은 반드시 입력해야 합니다.'); // 경고
			$("#addText").val(""); // 입력값 삭제
			$("#addText").focus(); // 커서 위치
			return false;   // 전송 취소
		}
		return true;
	}

	/*<![CDATA[*/
	const vo = /*[[${session.mvo}]]*/;
	if (vo == null) {
		location.href = "/community/list";
	}

	/*]]>*/


</script>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>

		<main>
			<div class="mainTitle">
				<div class="mainTextBox">
					<h2>게시글 등록</h2>
				</div>
				<div class="line"></div>
			</div>

			<div class="addPostWrapper">
				<div class="userInfo">
					<img src="/images/Profile.png">
					<p>[[${session.mvo.nickname}]]</p>
				</div>

				<form action="/community/insertOk" onsubmit="return formCheck()" method="post"
					enctype="multipart/form-data">
					<div class="addImgWrapper">
						<label class="addImgItem" for="inputFile1">
							<input type="file" accept=".png, .jpeg" id="inputFile1" class="inputFile" name="uploadFile">
							<img id="imagePreview"
								src=""
								class="image-box" />
							<ion-icon name="add-outline" class="addIcon" id="addIcon"></ion-icon>
							<div id="addImg">
								사진추가
							</div>
							</input>
						</label>

						<label class="addImgItem" for="inputFile2">
							<img id="imagePreview2"
								src=""
								class="image-box" />
							<input type="file" accept=".png, .jpeg" id="inputFile2" class="inputFile" name="uploadFile">
							<ion-icon name="add-outline" class="addIcon" id="addIcon2"></ion-icon>
							<div id="addImg2">
								사진추가
							</div>
							</input>
						</label>

						<label class="addImgItem" for="inputFile3">
							<img id="imagePreview3"
								src=""
								class="image-box" />
							<input type="file" accept=".png, .jpeg" id="inputFile3" class="inputFile" name="uploadFile">
							<ion-icon name="add-outline" class="addIcon" id="addIcon3"></ion-icon>
							<div id="addImg3">
								사진추가
							</div>
							</input>
						</label>

						<label class="addImgItem" for="inputFile4">
							<img id="imagePreview4"
								src=""
								class="image-box" />
							<input type="file" accept=".png, .jpeg" id="inputFile4" class="inputFile" name="uploadFile">
							<ion-icon name="add-outline" class="addIcon" id="addIcon4"></ion-icon>
							<div id="addImg4">
								사진추가
							</div>
							</input>
						</label>
					</div>

					<input type="hidden" name="userid" th:value="${session.mvo.userid}">
					<input type="hidden" name="nickname" th:value="${session.mvo.nickname}">
					<textarea id="addText" class="addText" name="contents"></textarea>

					<div class="btnWrapper">
						<input class="btnCancle" type="button" value="취소"
							th:onclick="location.href='/community/'"></input>
						<input class="btnAdd" type="submit" value="등록"></input>
					</div>
				</form>
			</div>
		</main>
	</div>
	<script>
		const fileDOM = document.querySelector('#inputFile1');
		const preview = document.querySelector('#imagePreview');
		const addIcon = document.querySelector('#addIcon');
		const addImg = document.querySelector('#addImg');
		fileDOM.addEventListener('change', () => {
			const imageSrc = URL.createObjectURL(fileDOM.files[0]);
			preview.src = imageSrc;			
			addIcon.style.display = 'none';
			addImg.style.display = 'none';
		});
		const fileDOM1 = document.querySelector('#inputFile2');
		const preview1 = document.querySelector('#imagePreview2');
		const addIcon1 = document.querySelector('#addIcon2');
		const addImg1 = document.querySelector('#addImg2');
		fileDOM1.addEventListener('change', () => {
			const imageSrc1 = URL.createObjectURL(fileDOM1.files[0]);
			preview1.src = imageSrc1;
			addIcon1.style.display = 'none';
			addImg1.style.display = 'none';
		});
		const fileDOM2 = document.querySelector('#inputFile3');
		const preview2 = document.querySelector('#imagePreview3');
		const addIcon2 = document.querySelector('#addIcon3');
		const addImg2 = document.querySelector('#addImg3');
		fileDOM2.addEventListener('change', () => {
			const imageSrc2 = URL.createObjectURL(fileDOM2.files[0]);
			preview2.src = imageSrc2;
			addIcon2.style.display = 'none';
			addImg2.style.display = 'none';
		});
		const fileDOM3 = document.querySelector('#inputFile4');
		const preview3 = document.querySelector('#imagePreview4');
		const addIcon3 = document.querySelector('#addIcon4');
		const addImg3 = document.querySelector('#addImg4');
		fileDOM3.addEventListener('change', () => {
			const imageSrc3 = URL.createObjectURL(fileDOM3.files[0]);
			preview3.src = imageSrc3;
			addIcon3.style.display = 'none';
			addImg3.style.display = 'none';
		});
	</script>
</body>

</html>