<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>게시글 삭제</title>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/view.css">
	<!-- fontawesome 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<script th:inline="javascript">
		
	</script>
</head>


<body>

	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>

		<section class="mainIconBox">
			<div class="currentPlace">
				<img src="/images/ic.png" alt="마커아이콘" />
				<p>대전광역시 중구 대흥동</p>
			</div>
		</section>

		<main>
			<div class="postBox">
				<form action="/community/deleteOk" method="post">
					<input type="hidden" name="id" th:value="${community.id}" />
					<div class="userInfo">
						<img src="/images/Profile.png">
						<p>[[${community.nickname}]]</p>
						<th:block th:if="${session.mvo != null}">
							<input class="updateBtn" type="submit" value="확인" id="ok" formmethod="post" />
							<input class="deleteBtn" type="button" value="취소"
								th:onclick="|location.href='@{/community/view?id={id}(id=${community.id},mode=1)}'|" />
						</th:block>
					</div>
				</form>
				<div class="postContent">
					<img th:src='|/static/images/upload/${community.imgList[0].uuid}_${community.imgList[0].fileName}|'>
					<p class="postText">[[${community.contents}]]</p>
				</div>
			</div>

			<div class="commentsBox">
				<p class="totalLike">
					좋아요 <strong>74</strong>개
				</p>

				<div class="btnList">
					<div>
						<button type="button">
							<!-- 꽉찬하트 -->
							<!-- <i class="fa-solid fa-heart"></i> -->
							<!-- 빈 하트 -->
							<i class="fa-regular fa-heart"></i>
							<!-- <img src="static/images/heart_icon.png" alt="좋아요아이콘"> -->
						</button>

						<button type="button">
							<i class="fa-regular fa-comment"></i>
							<!-- <img src="static/images/comment_icon.png" alt="댓글아이콘"> -->
						</button>
					</div>


					</th:block>

					<p class="moreComments">댓글 더 보기...</p>
				</div>

				<p class="totalComments">
					댓글 <strong>[[${community.commentCount}]]</strong>개
				</p>
				<th:block th:each="c : ${community.commentList}">
					<div class="commentList">
						<div class="commentItem">
							<div class="commentLine">
								<div class="userInfo">
									<img src="/images/Profile.png">
									<p>[[${c.name}]]</p>
								</div>

								<div class="commentText" th:id="|content${community.id}|">
									[[${c.content}]]
								</div>
							</div>
							<button type="button" class="btnCommentLike">
								<i class="fa-regular fa-heart"></i>
								<!-- <img src="static/images/heart_icon.png" alt="좋아요아이콘"> -->
							</button>
							<th:block th:if="${session.mvo != null}">
								<button th:onclick="updateForm">수정</button>
								<button th:onclick="deleteForm">삭제</button>
							</th:block>
						</div>
					</div>
				</th:block>
				<th:block th:if="${session.mvo!=null}">
					<div class="addCommentBox">
						<input type="hidden" id="id" value="0">
						<input type="hidden" id="ref" th:value="${community.id}">
						<input type="hidden" id="nickname" th:value="${session.mvo.nickname}">
						<textarea placeholder="댓글 작성" class="commentForm" id="content"></textarea>
						<input type="button" id="btnAddPost" class="btnAddPost" value="등록"></input>
					</div>
				</th:block>
			</div>
		</main>
	</div>
</body>

</html>