<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>커뮤니티</title>

	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/commu.css">
</head>


<body>
	[[${session.mvo.nickname}]]
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>

		<main>
			<div class="mainTitle">
				<div class="mainTextBox">
					<h2>커뮤니티</h2>
				</div>

				<div class="line"></div>

				<div class="mainIconBox">
					<div class="currentPlace">
						<img src="/images/ic.png" alt="마커아이콘" />
						<p>대전광역시 중구 대흥동</p>
					</div>
					<th:block th:if="${session.mvo!=null}">
						<button class="btnAddPost" th:onclick="location.href='/community/insert'">
							포스트 작성
						</button>
					</th:block>
				</div>
			</div>
			<div class="mainContent">
				<th:block th:each="vo: ${pv.list}">
					<a th:href="@{/community/view?id={id}(id=${vo.id},mode=1)}">		
						<div class="postBox">
							<div class="postImageBox">		
							<img th:src='|/static/images/upload/${vo.imgList[0].uuid}_${vo.imgList[0].fileName}|'>
							</div>
							<div class="userProfileBox">				
								<img src="/images/Profile.png">								
								<p class="userName">[[${vo.nickname}]]</p>				
							</div>
							<p class="postText">
								[[${vo.contents}]]
							</p>
						</div>
					</a>
				</th:block>
			</div>
		</main>
	</div>
</body>

</html>