<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>게시글수정</title>

	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/comm/createPost.css">
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<script th:inline="javascript">
function formCheck() {
		value = $("#addText").val(); // 내용 얻고
		if (value == null || value.trim().length == 0) { // 없거나 빈칸들로만  입력되었다면
			alert('내용은 반드시 입력해야 합니다.'); // 경고
			$("#addText").val(""); // 입력값 삭제
			$("#addText").focus(); // 커서 위치
			return false;   // 전송 취소
		}
		return true;
	}

	/*<![CDATA[*/
	const vo = /*[[${session.mvo}]]*/;
	if (vo == null) {
		location.href = "/community/list";
	}

	/*]]>*/
</script>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>
				<th:block th:if="${session.mvo != null}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/logout"><strong>로그아웃</strong></a>
					<a href="/"><strong>비즈니스 계정</strong></a>
				</th:block>
			</nav>
		</header>

		<main>
			<div class="mainTitle">
				<div class="mainTextBox">
					<h2>게시글 수정</h2>
				</div>
				<div class="line"></div>
			</div>

			<div class="addPostWrapper">
				<div class="userInfo">
					<img src="/images/Profile.png">
					<p>[[${session.mvo.nickname}]]</p>
				</div>

				<form action="/community/updateOk" onsubmit="return formCheck()" method="post"
					enctype="multipart/form-data">
					<div class="addImgWrapper">
						<th:block th:each="img, vs : ${community.imgList}">
							<label class="addImgItem" th:for="|inputFile${vs.count}|">
								<input type="file" th:id="|inputFile${vs.count}|" class="inputFile" name="uploadFile">
								<div>
									<img class="fileImg" th:src='|/static/images/upload/${img.uuid}_${img.fileName}|'>
								</div>
								</input>
							</label>
						</th:block>
						<th:block th:each="num : ${#numbers.sequence(#lists.size(community.imgList)+1, 4)}">
							<label class="addImgItem" th:for="|inputFile${num}|">
								<input type="file" th:id="|inputFile${num}|" class="inputFile" name="uploadFile">
								<ion-icon name="add-outline" class="addIcon"></ion-icon>
								<div>
									사진추가
								</div>
								</input>
							</label>
						</th:block>
					</div>
					<input type="hidden" name="userid" th:value="${session.mvo.userid}">
					<input type="hidden" name="nickname" th:value="${session.mvo.nickname}">
					<input type="hidden" name="id" th:value="${community.id}">
					<textarea id="addText" class="addText" name="contents">[[${community.contents}]]</textarea>
					<div class="btnWrapper">
						<input class="btnCancle" type="button" value="취소"
							th:onclick="|location.href='@{/community/view?id={id}(id=${community.id},mode=1)}'|"></input>
						<input class="btnAdd" type="submit" value="등록"></input>
					</div>
				</form>
			</div>
		</main>
	</div>
</body>

</html>