<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>post상세보기</title>
	<link rel="stylesheet" href="/css/font.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/view.css">

	<!-- fontawesome 아이콘 -->
	<script src="https://kit.fontawesome.com/a9ad5c8c5b.js" crossorigin="anonymous"></script>
	<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
	<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
	<script defer src="/js/comm/commSlide.js"></script>
	<script th:inline="javascript">

		$(function () {
			$("#btnAddPost").click(function () {
				//alert($(this).val)
				let buttonTitle = $(this).val();
				if (buttonTitle == "등록") {
					// 입력 내용 얻기
					let ref = $("#ref").val();
					let content = $("#content").val();
					let name = $("#nickname").val();

					//alert(content); // 읽어왔는지 확인
					let form = new FormData();// 폼만들기

					form.append("content", content);
					form.append("ref", ref);
					form.append("name", name);

					// Ajax를 통해 데이터를 서버로 보내 저장을 수행한다.
					axios.post('/community/commentInsert', form)
						.then(function (response) {
							//alert("성공!!! : " + JSON.stringify(response));
							location.reload();
						})
						.catch(function (error) { // 에러 발생했을때
							alert("에러발생!! : " + error);
						})
						.finally(function () { // 항상 실행되는 영역

						});
				} else if (buttonTitle == "댓글 수정") {
					// 입력 내용 얻기
					let id = $("#id").val();
					let content = $("#content").val();
					let form = new FormData(); // 폼을 만든다.
					//alert(content)
					// 폼에 내용을 추가한다.
					form.append("id", id);
					form.append("content", content);

					// Ajax를 통해 데이터를 서버로 보내 저장을 수행한다.
					axios.put('/community/commentUpdate', form)
						.then(function (response) { // 성공 했을떄
							//alert("성공!!! : " + JSON.stringify(response));
							location.reload();
						})
						.catch(function (error) { // 에러 발생했을때
							alert("에러발생!! : " + error);
						})
						.finally(function () { // 항상 실행되는 영역

						});
				} else if (buttonTitle == "댓글 삭제") {
					// 입력 내용 얻기
					let id = $("#id").val();
					let form = new FormData(); // 폼을 만든다.

					// Ajax를 통해 데이터를 서버로 보내 저장을 수행한다.
					axios.delete('/community/commentDelete?id=' + id)
						.then(function (response) { // 성공 했을떄
							// alert("성공!!! : " + JSON.stringify(response));
							location.reload();
						})
						.catch(function (error) { // 에러 발생했을때
							alert("에러발생!! : " + error);
						})
						.finally(function () { // 항상 실행되는 영역
						});
				}
			});
		});
		function updateForm(id, name) {
			$("#btnAddPost").val("댓글 수정");
			$("#id").val(id);
			$("#content").val($("#content" + id).html());

		}
		function deleteForm(id, name) {
			// 취소 버튼을 보이게 한다.
			$("#btnAddPost").val("댓글 삭제");
			$("#id").val(id);
			$("#content").val($("#content" + id).html());
		}



		$(function () {
			$("#ok").click(function () {
				alert("정말 삭제하시겠습니까? 삭제게시물은 복구할 수 없습니다.")
			})
		});
		// 댓글작성창 높이 조절
		function autoResize(textarea) {
			textarea.style.height = 'auto';
			textarea.style.height = textarea.scrollHeight + 'px';
		}


		// 게시글 좋아요 개수와 상태 불러오기
		function loadPostLikeData(postId, nickname) {
			// 게시글 좋아요 개수 가져오기
			const likeCount = localStorage.getItem('post_likeCount_' + postId + '_' + nickname);
			// 게시글 좋아요 눌렀는지 상태가져오기
			const isLiked = localStorage.getItem('post_isLiked_' + postId + '_' + nickname);

			return {
				// 좋아요 기본값 0으로
				likeCount: likeCount ? parseInt(likeCount) : 0,
				// 좋아요 눌렀으면 true 아니면 false 
				isLiked: isLiked === 'true'
			};
		}

		// 게시글 좋아요 데이터 저장
		function savePostLikeData(postId, nickname, likeCount, isLiked) {
			// 로컬에 좋아요 개수 저장
			localStorage.setItem('post_likeCount_' + postId + '_' + nickname, likeCount);
			// 로컬에 좋아요 상태 저장
			localStorage.setItem('post_isLiked_' + postId + '_' + nickname, isLiked);
		}

		// 댓글 좋아요 개수와 상태 불러오기
		function loadCommentLikeData(commentId, nickname) {
			// 댓글 좋아요 개수 가져오기
			const count = localStorage.getItem('comment_count_' + '_' + commentId + '_' + nickname);
			// 댓글 좋아요 상태 가져오기
			const isLiked = localStorage.getItem('comment_isliked_' + commentId + '_' + nickname);

			return {
				// 댓글 좋아요 기본값 0
				count: count ? parseInt(count) : 0,
				// 좋아요 눌렀으면 true 아니면 false
				isLiked: isLiked === 'true'
			};
		}

		// 댓글 좋아요 데이터 저장
		function saveCommentLikeData(commentId, nickname, count, isliked) {
			// 로컬에 댓글 좋아요 개수 저장
			localStorage.setItem("comment_count_" + commentId + "_" + nickname, count);
			// 로컬에 댓글 좋아요 상태 저장
			localStorage.setItem("comment_isliked_" + commentId + "_" + nickname, isliked);
		}

		$(document).ready(function () {
			// 현재 게시글의 ID 가져옴
			let postId = $("#postId").val(); 
			// 현재 로그인한 사용자의 닉네임 가져옴
			let nickname2 = $("#nickname2").val(); 
			// 댓글 작성자 닉네임 가져옴
			let commentNickname = $("#cnickname2").val();
			function setLikeState(heartBtn, isLiked) {
				if (isLiked) {  // 좋아요한 경우
					heartBtn.html('<i class="fa-solid fa-heart"></i>'); // 하트 채우기
					heartBtn.css("color", "red"); // 하트 빨간색으로 변경하기 
					heartBtn.addClass("liked"); // liked 클래스 추가해서 상태표시하기 
				} else {  // 아직 안누른 경우
					heartBtn.html('<i class="fa-regular fa-heart"></i>');  // 빈하트로 변경하기 
					heartBtn.css("color", "");  // 색갈 제거하기 
					heartBtn.removeClass("liked");  // liked 클래스 제거해서 상태표시하기 
				}
			}
			// 게시글 좋아요 개수 가져오기
			axios.get('/community/countGood/' + postId)
				.then(response => {
					// 좋아요 개수 화면에 표시
					$("#likeCount").text("좋아요 " + response.data + "개");
				})
				.catch(function (error) {
					alert('에러 발생!! : ' + error);
				});
			// 
			$(".heartBtn").each(function () {
				const pushHeartBtn = $(this);
				// 게시글 초기 좋아요 상태 데이터 불러오기
				let initialPostData = loadPostLikeData(postId, nickname2);
				// 불러온 데이터 바탕으로 하트버튼 모양 설정
				setLikeState(pushHeartBtn, initialPostData.isLiked);
				// 로컬에 초기 데이터 저장
				savePostLikeData(postId, nickname2,
					initialPostData.likeCount,
					initialPostData.isLiked);
				// 하트버튼 클릭했을때
				pushHeartBtn.click(function () {
					//새로 폼 만들고
					let form = new FormData();
					
					form.append("ref", postId);
					form.append("nickname", nickname2);
					// 좋아요 눌려있고
					if (pushHeartBtn.hasClass("liked")) {
						axios.delete(`/community/goodDelete/${postId}/${nickname2}`)
							.then(function (response) {
								// 좋아요 삭제됬으면
								if (response.data) {
									alert("좋아요 취소!");
									// 하트버튼 모양 상태 false
									setLikeState(pushHeartBtn, false);
									axios.get('/community/countGood/' + postId)
										.then(response => {
											$("#likeCount").text("좋아요 " + response.data + "개");
											savePostLikeData(postId, nickname2, response.data, false);
										});
								} else {
									alert("좋아요를 누르지 않으셨습니다.");
								}
							})
							.catch(function (error) {
								alert('에러 발생!! : ' + error);
							});
					// 좋아요 안눌러졌으면
					} else {
						// 좋아요 저장 해라
						axios.post('/community/goodInsert', form)
							.then(function (response) {
								if (response.data) {
									alert('좋아요!');
									setLikeState(pushHeartBtn, true);
									axios.get('/community/countGood/' + postId)
										.then(response => {
											$("#likeCount").text("좋아요 " + response.data + "개");
											savePostLikeData(postId, nickname2, response.data, true);
										});
								} else {
									alert('이미 좋아요를 누르셨습니다.');
								}
							})
							.catch(function (error) {
								alert('에러 발생!! : ' + error);
							});
					}
				});

			});

			// 댓글 좋아요 개수 , 상태 확인 함수
			function updateCommentLikeCount(commentID, nickname) {
				// 댓글 좋아요 개수 요청
				axios.get('/community/commcountGood/' + commentID)
					.then(response => {
						// 댓글 좋아요 개수 출력
						$("#clikeCount_" + commentID).text("좋아요 " + response.data + "개"); 

						// 좋아요 상태도 업데이트
						axios.get('/community/CommGoodCheck', {
							params: {
								ref: commentID,
								nickname: nickname
							}
						})
							.then(function (response) {
								// 좋아요 수가0보다 크면 좋아요를 누른상태
								const isLiked = response.data > 0;
									
								const pushHeartBtn = $(".btnCommentLike[data-comment-id='" + commentID + "']");
								setLikeState(pushHeartBtn, isLiked);

								// saveCommentLikeData 대신 서버에 저장된 데이터를 사용하므로 이 부분은 필요 없습니다.
							})
							.catch(function (error) {
								console.log(error);
							});
					})
					.catch(error => console.log(error));
			}
			// 댓글 좋아요 또다른 함수 실행
			$(".btnCommentLike").each(function () {
				const pushHeartBtn = $(this);
				// 댓글의 아이디 가져오기
				let commentID = pushHeartBtn.data('comment-id');
				// 현재 사용자가 해당 댓글 좋아요 했는지 요청
				axios.get('/community/CommGoodCheck', {
					params: {
						ref: commentID,
						nickname: commentNickname
					}
				})
					.then(function (response) {
						const isLiked = response.data > 0;
						setLikeState(pushHeartBtn, isLiked);

						// 처음 페이지 로드 시에는 좋아요 개수도 업데이트합니다.
						updateCommentLikeCount(commentID, commentNickname);
					})
					.catch(function (error) {
						console.log(error);
					});

				pushHeartBtn.click(function () {
					if (pushHeartBtn.hasClass('liked')) { // 좋아요를 이미 누른 경우
						axios.delete(`/community/commgoodDelete/${commentID}/${commentNickname}`)
							.then(function (response) {
								if (response.data) {
									alert("좋아요 취소!");
									setLikeState(pushHeartBtn, false);
									// 상태 업데이트 추가
									updateCommentLikeCount(commentID, commentNickname); 
								} else {
									alert("좋아요를 누르지 않으셨습니다.");
								}
							})
							.catch(function (error) {
								alert('에러 발생!! : ' + error);
							});

					} else { // 좋아요를 아직 누르지 않은 경우
						axios.post('/community/commgoodInsert', {ref: Number(commentID), nickname: commentNickname})
							.then(function (response) {
								if (response.data) {
									alert("좋아요!");
									setLikeState(pushHeartBtn, true);
									updateCommentLikeCount(commentID, commentNickname); // 상태 업데이트 추가 및 닉네임 추가
								} else {
									alert("이미 좋아요를 누르셨습니다.");
								}
							})
							.catch(function (error) {
								alert('에러 발생!! : ' + error);
							});
					}
				});
			});
		});
	</script>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="hello">
				<th:block th:if="${session.mvo != null}">
					<!-- 별명을 설정하지 않은 회원은 아이디로 표시된다. -->
					<span>[[${session.mvo.nickname}]] </span> 님 환영합니다.
				</th:block>
			</nav>

			<nav class="login">
				<th:block th:if="${session.mvo == null}">
					<a href="/member/login"><strong>로그인</strong></a>
					<a href="/member/join"><strong>회원가입</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '일반계정'}">
					<a href="/member/updateProfile"><strong>마이페이지</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == '비즈니스계정'}">
					<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
					<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
					<a href="/member/logout"><strong>로그아웃</strong></a>
				</th:block>
			</nav>
		</header>

		<section class="mainIconBox">
			<div class="currentPlace">
				<img src="/images/ic.png" alt="마커아이콘" />
				<p>대전광역시 중구 대흥동</p>
			</div>
		</section>

		<main>
			<div class="postBox">
				<div class="userInfo">
					<img src="/images/Profile.png">
					<p>[[${community.nickname}]]</p>
					<th:block th:if="${session.mvo.nickname == community.nickname}">
						<input type="button" value="수정" class="updateBtn"
							th:onclick="|location.href='@{update(id=${community.id},p=${cv.p},s=${cv.s},b=${cv.b})}'|" />
						<input id="ok" type="button" value="삭제" class="deleteBtn"
							th:onclick="|location.href='@{delete(id=${community.id},p=${cv.p},s=${cv.s},b=${cv.b})}'|" />
					</th:block>
				</div>

				<div class="postContent">
					<div class="slide">
						<ul class="slide__list">
							<th:block th:each="img : ${community.imgList}">
								<li class="slide__item">
									<img class="slideImg"
										th:src='|/static/images/upload/${img.uuid}_${img.fileName}|' />
								</li>
							</th:block>
						</ul>
						<div class="buttons"></div>
						<div class="paginations"></div>
					</div>
					<p class="postText">
						[[${community.contents}]]
					</p>
				</div>
			</div>

			<div class="commentsBox">
				<p id="likeCount" class="totalLike">
				</p>
				<br />

				<div class="btnList">
					<div>
						<input type="hidden" id="postId" th:value="${community.id}" />
						<input type="hidden" id="nickname2" th:value="${session.mvo.nickname}" />
						<button id="btnLike" class="heartBtn">
							<i class="fa-regular fa-heart"></i>
						</button>
						<!-- <img src="static/images/heart_icon.png" alt="좋아요아이콘"> -->
					</div>
					</th:block>


				</div>
				<input type="hidden" id="commentCount" th:value="${community.commentCount}">
				<br />
				<p class="totalComments">
					댓글 <strong>[[${community.commentCount}]]</strong>개
					<!--댓글 <strong>[[${#lists.size(community.commentList)}]]</strong>개-->
				</p>
				<th:block th:each="c : ${community.commentList}">
					<div class="commentList">
						<div class="commentItem">
							<div class="commentLine">
								<div class="userInfo">
									<img src="/images/Profile.png">
									<p>[[${c.name}]] &nbsp;</p>
									<p> [[${c.content}]]</p>
								</div>
							</div>
							<input type="hidden" id="cpostId" th:value="${community.id}" />
							<input type="hidden" id="cId" th:value="${c.id}" />
							<input type="hidden" id="cnickname2" th:value="${session.mvo.nickname}" />
							<button type="button" id="cbtnLike" th:data-comment-id="${c.id}" class="btnCommentLike">
								<i class="fa-regular fa-heart"></i>
							</button>
							<p th:id="'clikeCount_' + ${c.id}" class='ctotalLike' style='text-align: right;'></p>


							<th:block th:if="${session.mvo.nickname == c.name}">
								<div class="bottomBtn">
									<button class="btnDelete" th:onclick="deleteForm([[${c.id}]],'[(${c.name})]')">
										<i class="fa-solid fa-xmark"></i>
									</button>
									<button class="btnModify" th:onclick="updateForm([[${c.id}]],'[(${c.name})]')">
										<i class="fa-solid fa-pencil"></i>
									</button>

								</div>
								<!--
                        <button class="commentUpdate"
                           th:onclick="updateForm([[${c.id}]],'[(${c.name})]')">수정</button>
                        <button class="commentDelete"
                           th:onclick="deleteForm([[${c.id}]],'[(${c.name})]')">삭제</button>
                     -->
							</th:block>
						</div>
					</div>
				</th:block>
				<th:block th:if="${session.mvo!=null}">
					<div class="addCommentBox">
						<input type="hidden" id="id" value="0">
						<input type="hidden" id="ref" th:value="${community.id}">
						<input type="hidden" id="nickname" th:value="${session.mvo.nickname}">
						<textarea placeholder="댓글 작성" class="commentForm" id="content" onkeyup="autoResize(this)"
							onkeydown="autoResize(this)"></textarea>
						<input type="button" id="btnAddPost" class="btnAddPost" value="등록"></input>
					</div>
				</th:block>
			</div>
		</main>
	</div>
</body>

</html>