<footer>
	<div class="customerService">
		<strong class="footerCall">고객센터 1234-4567</strong>
		<div class="servicetime">
			<p class="time">운영시간 평일 : 11:00 ~ 18:00 (토,일,공휴일 휴무)</p>
			<p class="time">점심시간 평일 : 13:00 ~ 14:00</p>
		</div>
	</div>
	
	<div class="footerCorp">
		<ul class="footerMain">
			<li class="footerMainItem">
				<a href="">
					회사소개
				</a>
			</li>
			<li class="footerMainItem">
				<a href="">
					인재채용
				</a>
			</li>
			<li class="footerMainItem">
				<a href="">
					제휴문의
				</a>
			</li>
			<li class="footerMainItem">
				<a href="">
					이용약관
				</a>
			</li>
			<li class="footerMainItem">
				<a href="">
					개인정보처리방침
				</a>
			</li>
		</ul>

		<div class="btnSns">
			<i class="fa-brands fa-instagram"></i>
			<i class="fa-brands fa-facebook"></i>
			<i class="fa-solid fa-comments"></i>
		</div>

	</div>


	<div class="information">
		<div>
			<span><b>대표 </b>위즐리 &nbsp;</span>
			<span><b>사업자번호 </b>123-45-67890</span>
		</div>
		<div>
			<span><b>주소 </b>대전광역시 중구 대흥동 123번길 12 대흥타워1, 456층</span>
		</div>
	</div>
 

</footer>