<header>
	<!--
	<div class="logo">
		<a href="/">
			<img src="/images/weLogo.png" alt="Logo" />
		</a>
	</div>
	<nav class="bar">
		<a href="/store/"><strong>운동시설검색</strong></a>
		<a href="/community/"><strong>커뮤니티</strong></a>
		<a href="/"><strong>고객센터</strong></a>
	</nav>
	<nav class="login">
		<th:block th:if="${session.mvo == null}">
			<a href="/member/login"><strong>로그인</strong></a>
			<a href="/member/join"><strong>회원가입</strong></a>
		</th:block>

		<th:block th:if="${session.mvo != null && session.mvo.authority == 'general'}">
			<a href="/member/updateProfile"><strong>마이페이지</strong></a>
			<a href="/member/logout"><strong>로그아웃</strong></a>
		</th:block>

		<th:block th:if="${session.mvo != null && session.mvo.authority == 'business'}">
			<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
			<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
			<a href="/member/logout"><strong>로그아웃</strong></a>
		</th:block>
	</nav>
-->


	<div class="header_fixed">
		<div class="header_top">
			<div class="header_topItem">
				<th:block th:if="${session.mvo == null}">
					<ul class="loginbar">
						<li class="loginItem">
							<a href="/member/login">로그인</a>
						</li>
						<li class="loginItem">
							<a href="/member/join">회원가입</a>
						</li>
						<li class="loginItem">
							<a href="/">고객센터</a>
						</li>
					</ul>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == 'general'}">
					<ul class="loginbar">
						<li class="loginItem">
							<a href="/member/updateProfile">마이페이지</a>
						</li>
						<li class="loginItem">
							<a href="/member/logout">로그아웃</a>
						</li>
						<li class="loginItem">
							<a href="/">고객센터</a>
						</li>
					</ul>
				</th:block>

				<th:block th:if="${session.mvo != null && session.mvo.authority == 'business'}">
					<ul class="loginbar">
						<li class="loginItem">
							<a href="/member/updateProfile">마이페이지</a>
						</li>
						<li class="loginItem">
							<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}">매장관리</a>
						</li>
						<li class="loginItem">
							<a href="/member/logout">로그아웃</a>
						</li>
						<li class="loginItem">
							<a href="/">고객센터</a>
						</li>
					</ul>
				</th:block>
			</div>
		</div>

		<div class="header_main">
			<div class="header_mainItem">
				<div class="logo">
					<a href="/">
						<img src="/images/weLogo.png" alt="Logo" />
					</a>
				</div>
				<div class="center"></div>
				<div class="right">
					<ul class="headerbar">
						<li class="headerItem">
							<a href="/" class="main_link">HOME</a>
						</li>
						<li class="headerItem">
							<a href="/store/" class="main_link">SEARCH</a>
						</li>
						<li class="headerItem">
							<a href="/community/" class="main_link">COMMUNITY</a>
						</li>
						<li class="headerHamburger">
							<img src="/images/menu.png" alt="MenuBar" style="width: 20px;" />
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>




</header>