<header>
	<div class="logo">
		<a href="/">
			<img src="/images/weLogo.png" alt="Logo" />
		</a>
	</div>
	<nav class="bar">
		<a href="/store/"><strong>운동시설검색</strong></a>
		<a href="/community/"><strong>커뮤니티</strong></a>
		<a href="/"><strong>고객센터</strong></a>
	</nav>

<!--
	헤더바 재작성중 !!!!!!!!!
	<div class="header_top">
		<th:block th:if="${session.mvo == null}">
			<ul class="loginbar">
				<li class="loginItem">
					<a href="/member/login">로그인</a>
				</li>
				<li class="loginItem">
					<a href="/member/join">회원가입</a>
				</li>
			</ul>
		</th:block>

		<th:block th:if="${session.mvo != null && session.mvo.authority == 'general'}">
			<a href="/member/updateProfile">마이페이지</a>
			<a href="/member/logout">로그아웃</a>
		</th:block>

		<th:block th:if="${session.mvo != null && session.mvo.authority == 'business'}">
			<a href="/member/updateProfile">회원정보수정</a>
			<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}">매장관리</a>
			<a href="/member/logout">로그아웃</a>
		</th:block>
	</div>
-->

	<nav class="login">
		<th:block th:if="${session.mvo == null}">
			<a href="/member/login"><strong>로그인</strong></a>
			<a href="/member/join"><strong>회원가입</strong></a>
		</th:block>

		<th:block th:if="${session.mvo != null && session.mvo.authority == 'general'}">
			<a href="/member/updateProfile"><strong>마이페이지</strong></a>
			<a href="/member/logout"><strong>로그아웃</strong></a>
		</th:block>

		<th:block th:if="${session.mvo != null && session.mvo.authority == 'business'}">
			<a href="/member/updateProfile"><strong>회원정보수정</strong></a>
			<a th:href="@{/store/view/b/{userId}(userId=${session.mvo.userid})}"><strong>매장관리</strong></a>
			<a href="/member/logout"><strong>로그아웃</strong></a>
		</th:block>
	</nav>
</header>