<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css" />
    <!-- j 쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="/images/weLogo.png" alt="Logo" />
                </a>
            </div>
            <nav class="bar">
                <a href="/community/"><strong>운동시설검색</strong></a>
                <a href="/community/"><strong>커뮤니티</strong></a>
                <a href="/community/"><strong>고객센터</strong></a>
            </nav>
            <nav class="login">
                <a href="/member/login"><strong>로그인</strong></a>
                <a href="/member/join"><strong>회원가입</strong></a>
                <a href="/community/"><strong>비즈니스 계정</strong></a>
            </nav>
        </div>

    <main>
        <div class="body1">
            <div class="weather">
                <div class="wt1">
                    <img src="/images/ic.png" class="icLogo" alt="" />
                    <b>
                        <P class="wt"></P>
                        <p class="ho">°C</p><br />
                        <p class="YesWeather"></p>
                    </b>
                    <!-- 자바스크립트로 내용 들어옴-->
                    <img src="" id="weatherImage" alt="" />
                    <b>
                        <p class="mise">미세먼지 </p>
                    </b>
                </div>
                <!-- 자바스크립트로 내용 들어옴-->
                <div class="window"></div>
                <div class="inAct">
                    <img src="/images/inAct.png" alt="" />
                </div>
            </div>
            <!-- 자바스크립트로 내용 들어옴-->
            <div class="sm">
                <div class="sm1"></div>
            </div>

        </div>
        <div class="body2">
            <div class="sm2">
                <h1>지금 우리동네의</h1>
                <h1>핫한 운동시설은</h1>
                <h4>사용자들의 후기를 확인해 보세요!</h4>
                <br /><br />

                <div class="botton">
                    <img class="RBtn" src="images/RBtn.png" alt="" />
                    <img class="LBtn" src="images/LBtn.png" alt="" />
                </div>
            </div>

            <div class="slideShow">
                <div class="slide">
                    <div class="jong">
                        <a>
                            <img src="/images/panda-bear-gd69cd903a_1280.jpg" height="200px" />
                        </a>
                    </div>

                    <div class="jong">
                        <a>
                            <img src="/images/panda-bear-gd69cd903a_1280.jpg" />
                        </a>
                    </div>

                    <div class="jong">
                        <a>
                            <img src="/images/panda-bear-gd69cd903a_1280.jpg" />
                        </a>
                    </div>

                    <div class="jong">
                        <a>
                            <img src="/images/panda-bear-gd69cd903a_1280.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot">
            <div class="sm3">
                <h1>🔥오늘의 운동 완료! 오.운.완🔥</h1>
                <h4>우리 동네 사람들의 커뮤니티</h4>
            </div>
            <div class="community">
                <div class="c"></div>
                <div class="c"></div>
                <div class="c"></div>
                <div class="c"></div>
                <div class="c"></div>
                <div class="c"></div>
            </div>
            <div class="more">
            
                <div class="bye">더보러가기</div>
            </div>
        </div>
    </footer>
        <script type="text/javascript" src="/js/main.js"></script>
        <script>

        </script>
</body>

</html>