<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Main</title>
	<link rel="stylesheet" href="css/font.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/main.css" />
	<!-- j 쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="/">
					<img src="/images/weLogo.png" alt="Logo" />
				</a>
			</div>
			<nav class="bar">
				<a href="/store/"><strong>운동시설검색</strong></a>
				<a href="/community/"><strong>커뮤니티</strong></a>
				<a href="/"><strong>고객센터</strong></a>
			</nav>
			<nav class="login">
				<a href="/member/login"><strong>로그인</strong></a>
				<a href="/member/join"><strong>회원가입</strong></a>
				<a href="/"><strong>비즈니스 계정</strong></a>
			</nav>
		</header>

		<main>
			<section class="weatherCard">
				<div class="weatherList">
					<div class="weatherItemTop">
						<img class="iconLocation" src="/images/ic.png" alt="위치마커" />

						<!-- js 현재위치, 현재 기온, 어제의 평균기온과 비교한 텍스트 -->
						<div class="weatherText">
							<p class="currentLocation">대전광역시 중구</p>
							<span class="temp"></span><span> °C</span>
							<p class="compareTempText"></p>


							<!-- js 미세먼지농도에 따른 표정아이콘 이미지경로변경-->
							<div class="dustBox">
								<img src="" id="weatherImage" alt="미세먼지 표정아이콘" />
								<p class="dust">미세먼지 </p>
							</div>
						</div>
					</div>

					<!-- 날씨에 따른 배경이미지, 사람이미지 변경 -->
					<div class="window"></div>
					<div class="inAct">
						<img src="/images/inAct.png" alt="운동하는사람" />
					</div>
				</div>

				<!-- 날씨에 따른 인트로 문구 변경 -->
				<div class="weatherItemBottom">
					<div class="introText"></div>
				</div>
			</section>

			<section class="storeCard">
				<div class="storeTextBox">
					<div>
						<p>지금 우리동네의</p>
						<p>핫한 운동시설은</p>
						<h3>사용자들의 후기를 확인해 보세요!</h3>
					</div>

					<div class="buttonBox">
						<button class="btnLeft">
							<img src="images/RBtn.png" alt="좌측화살표" />
						</button>

						<button class="btnRight">
							<img src="images/LBtn.png" alt="우측화살표" />
						</button>
					</div>
				</div>

				<div class="slideShow">
					<ul class="slide__list">
						<li class="slide__item on">
							<a>
								<img class="slide__image" src="/images/panda-bear-gd69cd903a_1280.jpg" />
							</a>
							<div class="slideBoxText on">
								<h2>나다운핏짐</h2>
								<div class="slideBoxTextSub">
									<p>평점 <span>4.7</span></p>
									<p>중구 대흥동</p>
								</div>
							</div>
						</li>

						<li class="slide__item">
							<img class="slide__image" src="/images/panda-bear-gd69cd903a_1280.jpg" />
						</li>



					</ul>
				</div>
			</section>

			<!-- <section class="communityCard">
        <div class="foot">
          <div class="sm3">
            <h1>🔥오늘의 운동 완료! 오.운.완🔥</h1>
            <h4>우리 동네 사람들의 커뮤니티</h4>
          </div>
          <div class="community">
            <div class="c"></div>
            <div class="c"></div>
            <div class="c"></div>
            <div class="c"></div>
            <div class="c"></div>
            <div class="c"></div>
          </div>
          <div class="more">

            <div class="bye">더보러가기</div>
          </div>
        </div>
      </section> -->
		</main>

		<footer>
			<!-- <div class="foot">
        <div class="sm3">
          <h1>🔥오늘의 운동 완료! 오.운.완🔥</h1>
          <h4>우리 동네 사람들의 커뮤니티</h4>
        </div>
        <div class="community">
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
        </div>
        <div class="more">

          <div class="bye">더보러가기</div>
        </div>
      </div> -->
		</footer>
	</div>
	<script type="text/javascript" src="js/main.js"></script>

</body>

</html>