/* === 👇 main 날씨카드 부분 === */

.weatherCard {
  position: relative;
  width: 100%;
  height: 800px;
}

.weatherList {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 65%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherItemTop {
  position: absolute;
  left: 10%;

  display: flex;
  align-items: start;

  width: 300px;
  height: 200px;
}

.iconLocation {
  width: 40px;
  margin-right: 20px;
}

.currentLocation {
  font-size: 24px;
  margin: 0 0 4px 0;
}

.temp {
  color: #959595;
}

.compareTempText {
  font-size: 18px;
  margin: 8px 0;
}

.weatherText span {
  font-size: 20px;
}

.dustBox {
  display: flex;
  align-items: center;
}

#weatherImage {
  margin-right: 10px;
}

.dust {
  font-size: 18px;
  color: #489574;
}

.inAct {
  position: absolute;
  right: 20%;
  top: 44%;

  width: 500px;
  height: 500px;

  z-index: 2;
}

.inAct img:first-child {
  width: 480px;
  height: 500px;
  z-index: 3;
}

.run {
  position: absolute;
  top: 50%;
  right: 100%;

  width: 40%;
  height: 50%;
  z-index: 0;
}

.window {
  position: absolute;
  right: 36%;
  top: 22%;

  overflow: hidden;

  width: 500px;
  height: 250px;
  border: 4px solid #cccccc;
}

/* 자바스크립트에서 생성할 div  */
.rain1 {
  position: absolute;
  right: 85%;
  top: 60%;

  transform: rotate(10deg);

  width: 2%;
  height: 30%;
  border: 2px solid #afe0fe;
  background-color: #afe0fe;
}
.rain2 {
  position: absolute;
  right: 65%;
  top: 30%;

  transform: rotate(10deg);

  width: 2%;
  height: 30%;
  border: 2px solid #afe0fe;
  background-color: #afe0fe;
}
.rain3 {
  position: absolute;
  right: 40%;

  transform: rotate(10deg);

  width: 2%;
  height: 30%;
  border: 2px solid #afe0fe;
  background-color: #afe0fe;
}
.rain4 {
  position: absolute;
  right: 20%;
  top: 40%;

  transform: rotate(10deg);

  width: 2%;
  height: 30%;
  border: 2px solid #afe0fe;
  background-color: #afe0fe;
}
/* 자바스크립트에서 생성한 이미지 */
.cloud {
  width: 100%;
  height: 73%;
}
/* 자바스크립트에서 생성한 이미지 */
.ball {
  position: absolute;
  top: 5%;
  right: 80%;

  width: 8%;
  height: 8%;
}
/* 자바스크립트에서 생성한 이미지 */
.backGround {
  position: absolute;
  bottom: 32%;
  left: -35%;

  width: 150%;
  height: 80%;

  z-index: -1;
  /* 자바스크립트에서 생성한 이미지 */
}

.weatherItemBottom {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 35%;

  font-size: 23px;
  text-align: left;
  background-color: rgba(175, 224, 254, 0.4);
  color: #4d54a5;
  z-index: 1;
}

.introText {
  position: absolute;
  left: 10%;
  top: 30%;

  width: 500px;
  line-height: 40px;
  font-size: 26px;
  font-weight: 700;
}

/* === ☝️ 여기까지 main 날씨 카드부분 === */

.storeCard {
  position: relative;

  width: 100%;
  height: 800px;
}

.storeTextBox {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: fit-content;
  height: 500px;
  color: #2d2d2d;

  /* border: 1px solid blue; */
  line-height: 46px;
}

.storeTextBox p {
  font-size: 28px;
  font-weight: 800;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.buttonBox button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slideShow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 65%;
  overflow: hidden;
  /* border: 2px solid orange; */
}

.slide__list {
  width: fit-content;
  display: flex;
  overflow: hidden;
  padding: 14px 0 16px 16px;
}

.slide__item {
  width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 26px;
  border-radius: 20px;

  overflow: hidden;
}

/* .slide__item a {
  font-size: 0;
} */

.slide__image {
  width: 100%;
  height: 400px;
}

.slideBoxText.on {
  display: block;
  font-weight: 800;
  width: 90%;

  margin: 10px auto;
}

.slideBoxText h2,
.slideBoxTextSub p,
.slideBoxTextSub span {
  font-weight: 800;
  color: #2d2d2d;
}

.slideBoxText {
  display: none;
}

.slideBoxTextSub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  font-weight: 800;
}

/* 첫번째 슬라이드에 적용할 클래스 */
.slide__item.on {
  height: 500px;

  border-radius: 20px;
}

/* 👇 */
.communityCard {
  position: relative;
}

.foot {
  /* position: relative; */
  width: 100%;
  height: 600px;
  /* height: auto; */
}
.sm3 {
  /* position: absolute;
  bottom: 100%;
  right: 21%; */
  width: 50%;
  margin-top: 200px;
  text-align: center;
}
.community {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 900px;

  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.c {
  border: 1px solid black;
  width: 420px;
  height: 300px;

  margin-left: 10%;
  margin-top: 40px;

  border-radius: 20px;
}
.community div:nth-child(3) {
  margin-right: 40px;
}
.community div:last-child {
  margin-right: 40px;
}
.more {
  position: absolute;
  top: 150%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.bye {
  position: absolute;
  right: 25%;
  width: 40%;
  height: 100%;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  background-color: #4d54a5;
}
